/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow, #cboxSubmitBtn{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#fff;}
#colorbox{}
    #cboxTopLeft{width:14px; height:38px; background:url(images/controls1.png) no-repeat 0 0;}
    #cboxTopCenter{height:38px; background:url(images/border1.png) repeat-x top left;}
    #cboxTopRight{width:14px; height:38px; background:url(images/controls1.png) no-repeat -58px 0;}
	
    #cboxBottomLeft{width:14px; height:56px; background:url(images/controls1.png) no-repeat 0 -129px;}
    #cboxBottomCenter{height:56px; background:url(images/border1.png) repeat-x bottom left;}
    #cboxBottomRight{width:14px; height:56px; background:url(images/controls1.png) no-repeat -58px -129px;}
	
    #cboxMiddleLeft{width:14px; background:url(images/controls1.png) repeat-y -74px 0;}
    #cboxMiddleRight{width:14px; background:url(images/controls1.png) repeat-y -132px 0;}
	
    #cboxContent{background:#fff; overflow:visible;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:20px 30px; min-width:200px}
        #cboxLoadedContent{margin:4px 0;}
        #cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
        #cboxTitle{position:absolute; top:-22px; left:0; text-align:left; width:100%; font-weight:bold; color:#fff; padding-left:5px}
        #cboxCurrent{position:absolute; bottom:-29px; left:66px; font-weight:normal; color:#7C7C7C;}
        
        #cboxPrevious, #cboxNext, #cboxClose, #cboxSubmitBtn, #cboxSlideshow{
			position:absolute;
			bottom:-35px;
			background:url(images/controls1.png) no-repeat 0px 0px;
			width:23px;
			height:23px;
			text-indent:-9999px;
		}
        #cboxPrevious{left:8px; background-position: -146px 0;}
        #cboxPrevious:hover{background-position:-146px -23px;}
        #cboxNext{left:35px; background-position:-172px 0;}
        #cboxNext:hover{background-position:-172px -23px;}
		
        #cboxClose{right:5px;background-position:-224px 0;}
        #cboxClose:hover{background-position:-224px -23px;}
		
		
        #cboxSubmitBtn{right:35px;background-position:-198px 0;}
        #cboxSubmitBtn:hover{background-position:-198px -23px;}
        
        .cboxSlideshow_on #cboxSlideshow{background-position:-273px 0px; right:34px;}
        .cboxSlideshow_on #cboxSlideshow:hover{background-position:-273px -23px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-250px 0; right:34px;}
        .cboxSlideshow_off #cboxSlideshow:hover{background-position:-250px -23px;}

#cboxButtons{
	position:absolute;
	right:5px;
	bottom:-35px;
}
#cboxButtons input{
	float:left;
}