/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-01-2016, 20:48:13
    Author     : cuong_000
*/
.box_rec{
    border: 1px solid rgba(25, 2, 2, 0.15);
    height: 205px;
    margin-bottom: 20px;
}
.list_news_rec{
    border: 1px solid rgba(25, 2, 2, 0.15);
    padding: 10px;
}
.box_rec .img{  
    width: 33%;
    padding-top: 20px;
    padding-left: 20px;
    float: left; 
}
.box_rec .content{width: 66%;float: right}
.box_rec .img img{
    width: 85%;
    max-height: 162px;
}
.box_rec h2{
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: bold;
    line-height: 20px;
    font-size: 18px;
}
.box_rec .form-2{
    padding-bottom: 30px;
    line-height: 30px
}
.box_rec strong{color: #666666}
.box_rec .view_more{color: #b30000}
.detail_rec{
    border: 1px solid rgba(27, 10, 10, 0.24);
    padding: 20px;
    padding-top: 0px;
}
.detail_rec h4{
    float: left;
    padding: 0 0 0 0;
    font-size: 18px;
    color: #5a5a5a;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #5a5a5a;
    width: 100%;
}
.detail_rec .content{
    width: 100%;
    margin-bottom: 10px;
}
.detail_rec .content .left{
    width: 10%;
    font-weight: bold;
    float: left;
    color: #666666;
    font-size: 16px;
    padding-top: 10px;
}
.detail_rec .content .right{
    width: 85%;
    float: right;
    border-left: 1px solid #cccccc;
    padding-left: 15px;
}
.other_rec .chan{
    float: right;
    width: 45%;
}
.other_rec .le{
    float: left;
    width: 45%;
}
.other_rec .img{
    float: left;
    width: 40%;
}
.other_rec .title{
    float: left;
    width: 60%;
    padding-left: 20px;
    font-size: 20px;

}
.other_rec .end{
    margin-bottom: 10px;
}
.list_services .chan{
    float: right;
    width: 49%;
}
.list_services .le{
    float: left;
    width: 49%;
}
.list_services .div p, .list_services .div img{
    width: 100%;
}
.list_services p{
    background: rgba(232, 170, 0, 0.38);
    margin: 0;
    padding: 8px 0px 5px 10px;
    font-weight: bold;
    height: 40px;
}
.list_services p a.title{
    float: left;
    font-size: 17px;
}
.list_services span.icon-right{
    background: url('../images/icon-arrow-right.png');
    width: 24px;
    height: 24px;
    display: block;
    float: right;
    margin-right: 5px;
}
h3.h3_title{
    font-weight: bold;
    border-bottom: 1px solid #e8aa00;
    padding-bottom: 5px;
    margin-bottom: 20px;
    width: 35%;
}
h3.h3_title_services{
    font-weight: bold;
    border-bottom: 1px solid #e8aa00;
    padding-bottom: 5px;
    margin-bottom: 20px;
    width: 50%;
}