/*------------------------------------------------------------------
[Table of contents]

        General Styling
        Header
        Footer
        About Us
        Blog
        Contact
        Portfolio
        Sidebar
        Typography
        Elements [Forms, buttons etc..]
        Other Plugins
        
[/Table of contents]
-------------------------------------------------------------------*/
.news_home img{height:60px;float: left;padding-right: 5px;width:100px;}
.news_home h6{font-weight: bold;}
.clear{clear: both;}
.sitepath-r{margin-top: 27px;}
.sitepath-r a{color:#fff;margin: 0px 5px;}

.sitepath-r i{color:#fff;margin: 0px 5px;}
.blog-post img{    float: left;
                   width: 200px;
                   margin: 0px 11px 0px 0px;}
.blog-post{min-height: 132px;}
.primary-font,
.site-header-5 nav.main-navigation ul li ul.sub-menu li a,
a.side-menu-button,
nav.main-navigation ul li ul.sub-menu li a,
nav.main-navigation ul a,
nav.responsive-menu ul li .sub-menu a,
nav.responsive-menu a,
.slider-5 .first-line,
.slider-5 .second-line,
.first-line,
.second-line,
.slider-thumb .thumb-item .top-content span,
.slider-thumb .thumb-item .top-content h2 {
    font-family: 'Arial', sans-serif;
}
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 93.75%;
}
html ::selection {
    color: #ffffff;
    background: #e8aa00;
}
body.homepage-5 {
    padding: 30px;
    background-image: url(../images/body-bg.png);
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
}
.left{
    float: left;
    width:45%;
}
.right{
    float: right;
    width:45%;
}
section{background: #E6E6E6}
#tabs{margin-top: 10px}
.news_home {margin-top: 15px;}
@media (max-width: 991px) {
    body.homepage-5 {
        background-image: none;
        padding: 0px;
    }
}
.homepage-5 {
    padding-right: 20px;
    padding-left: 20px;
}
section {
    padding: 10px 0;
}
p {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #888888;
}
#sub-header {
    width: 100%;
    height: 50px;
    background-color: #333333;
}

#sub-header .left-info ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#sub-header .left-info ul li {
    padding-right: 15px;
    border-left: 1px solid #4d4d4d;
    line-height: 50px;
    display: inline-block;
    font-family: 'Arial', sans-serif;
    font-size: 11px;
    color: #afafaf;
}
#sub-header .left-info ul li i {
    margin-left: 15px;
    margin-right: 10px;
    color: #e8aa00;
    font-size: 13px;
}
#sub-header .left-info ul li:last-child {
    border-right: 1px solid #4d4d4d;
}
#sub-header .social-icons {
    float: right;
}
#sub-header .social-icons ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#sub-header .social-icons ul li {
    line-height: 50px;
    display: inline-block;
    margin-left: 5px;
}
#sub-header .social-icons ul li i {
    width: 26px;
    height: 26px;
    display: inline-block;
    border: 1px solid #b3b3b3;
    line-height: 26px;
    text-align: center;
    color: #afafaf;
    border-radius: 50%;
    font-size: 12px;
}
#sub-header .social-icons ul li i:hover {
    background-color: #e8aa00;
    border-color: transparent;
    color: #ffffff;
}
#sub-header-2 {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 50px;
    background-color: transparent!important;
}
#sub-header-2 .left-info ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#sub-header-2 .left-info ul li {
    padding-right: 15px;
    line-height: 50px;
    display: inline-block;
    font-family: 'Arial', sans-serif;
    font-size: 11px;
    color: #ffffff;
}
#sub-header-2 .left-info ul li i {
    margin-left: 15px;
    margin-right: 10px;
    color: #e8aa00;
    font-size: 13px;
}
#sub-header-2 .social-icons {
    float: right;
}
#sub-header-2 .social-icons ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#sub-header-2 .social-icons ul li {
    line-height: 50px;
    display: inline-block;
    margin-left: 5px;
}
#sub-header-2 .social-icons ul li i {
    width: 26px;
    height: 26px;
    display: inline-block;
    border: 1px solid #b3b3b3;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    border-radius: 50%;
    font-size: 12px;
}
#sub-header-2 .social-icons ul li i:hover {
    background-color: #e8aa00;
    border-color: transparent;
    color: #ffffff;
}
#sub-header-3 {
    overflow: hidden;
    width: 100%;
    height: 50px;
    background-color: #333333;
}
#sub-header-3 .left-info ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#sub-header-3 .left-info ul li:first-child {
    border-left: none;
}
#sub-header-3 .left-info ul li {
    padding-right: 15px;
    border-left: 1px solid #4d4d4d;
    line-height: 50px;
    display: inline-block;
    font-family: 'Arial', sans-serif;
    font-size: 11px;
    color: #afafaf;
}
#sub-header-3 .left-info ul li i {
    margin-left: 15px;
    margin-right: 10px;
    color: #e8aa00;
    font-size: 13px;
}
#sub-header-3 .left-info ul li:last-child {
    border-right: 1px solid #4d4d4d;
}
#sub-header-3 .social-icons {
    float: right;
    margin-right: 15px;
}
#sub-header-3 .social-icons ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#sub-header-3 .social-icons ul li {
    line-height: 50px;
    display: inline-block;
    margin-left: 5px;
}
#sub-header-3 .social-icons ul li i {
    width: 26px;
    height: 26px;
    display: inline-block;
    border: 1px solid #b3b3b3;
    line-height: 26px;
    text-align: center;
    color: #afafaf;
    border-radius: 50%;
    font-size: 12px;
}
#sub-header-3 .social-icons ul li i:hover {
    background-color: #e8aa00;
    border-color: transparent;
    color: #ffffff;
}
.site-header {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 9999;
    background-color: #fff;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}
.site-header .main-header .logo {
    float: left;
    line-height: 60px;
}
.site-header-2 {
    background-color: transparent;
}
.site-header-2 .logo {
    float: left;
    margin-top: 40px;
    background-image: url(../images/logo-2.png);
    background-size: cover;
    width: 146px;
    height: 33px;
    background-repeat: no-repeat;
}
.site-header-2 nav.main-navigation ul li a {
    color: #ffffff;
}
.site-header-2 nav.main-navigation ul li ul li a {
    color: #ffffff;
}
.site-header-2.scrolled-header {
    background-color: #ffffff !important;
}
.site-header-2.scrolled-header .logo {
    float: left;
    margin-top: 40px;
    background-image: url(../images/logo.png);
    background-size: cover;
    width: 144px;
    height: 33px;
    background-repeat: no-repeat;
}
.site-header-2.scrolled-header nav.main-navigation ul li a {
    color: #373636;
}
.site-header-2.scrolled-header nav.main-navigation ul li ul li a {
    color: #ffffff;
}
.site-header-3 {
    position: fixed;
    width: 100%;
    height: 125px;
    top: 50px;
    left: 0;
    z-index: 9999;
    background-color: #ffffff;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}
.site-header-3 .logo {
    float: left;
    line-height: 0px!important;
    margin-top: 30px;
    margin-bottom: 23px;
}
.site-header-3 .phone-address {
    margin-top: 20px;
    float: right;
}
.site-header-3 .phone-address ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.site-header-3 .phone-address ul li {
    display: inline-block;
    margin-left: 30px;
}
.site-header-3 .phone-address ul li i {
    margin-right: 20px;
    float: left;
    width: 46px;
    height: 46px;
    text-align: center;
    line-height: 44px;
    display: inline-block;
    font-size: 16px;
    border: 2px solid #e5e5e5;
    color: #e8aa00;
}
.site-header-3 .phone-address ul li h6 {
    margin-top: 8px;
    margin-bottom: -5px;
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    font-weight: 700;
    display: inline-block;
}
.site-header-3 .phone-address ul li span {
    font-size: 10px;
    color: #888888;
    display: block;
}
.site-header-3 .main-header .logo {
    float: left;
}
.site-header-3 nav.main-navigation {
    display: inline-block;
    background-color: #e8aa00;
    width: 100%;
    height: 60px;
}
.site-header-3 nav.main-navigation ul li {
    float: left;
    padding: 20px 20px;
    border-right: 1px solid #ffc21c;
}
.site-header-3 nav.main-navigation ul li a {
    color: #ffffff;
}
.site-header-3 nav.main-navigation ul li ul {
    top: 60px!important;
}
.site-header-3 nav.main-navigation ul li ul li {
    float: none;
    border-right: none;
}
.site-header-3 nav.main-navigation ul li:last-child {
    float: right;
    border-right: none;
}
.site-header-3 nav.main-navigation ul li:last-child #example {
    margin-right: 20px;
    margin-top: -25px;
}
.site-header-3 nav.main-navigation ul li:last-child .hideLink i {
    color: #373636;
}
.site-header-3 nav.main-navigation ul li:last-child i {
    margin-right: 20px;
    margin-top: 25px;
}
.site-header-4 {
    position: fixed;
    width: 100%;
    height: 146px;
    top: 50px;
    left: 0;
    z-index: 9999;
    background-color: #ffffff;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}
.site-header-4 .logo {
    float: left;
    line-height: 0px!important;
    margin-top: 30px;
    margin-bottom: 23px;
}
.site-header-4 .phone-address {
    margin-top: 20px;
    float: right;
    margin-right: 110px;
}
.site-header-4 .phone-address ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.site-header-4 .phone-address ul li {
    display: inline-block;
    margin-left: 30px;
}
.site-header-4 .phone-address ul li i {
    margin-right: 20px;
    float: left;
    width: 46px;
    height: 46px;
    text-align: center;
    line-height: 44px;
    display: inline-block;
    font-size: 16px;
    border: 2px solid #e5e5e5;
    color: #e8aa00;
}
.site-header-4 .phone-address ul li h6 {
    margin-top: 8px;
    margin-bottom: -5px;
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    font-weight: 700;
    display: inline-block;
}
.site-header-4 .phone-address ul li span {
    font-size: 10px;
    color: #888888;
    display: block;
}
.site-header-4 .main-header .logo {
    float: left;
    margin-left: 110px;
}
.site-header-4 nav.main-navigation {
    display: inline-block;
    width: 100%;
    height: 60px;
    border-top: 1px solid #e5e5e5;
    padding-left: 110px;
}
.site-header-4 nav.main-navigation ul li {
    float: left;
    padding: 19px 20px;
    border-right: 1px solid #e5e5e5;
}
.site-header-4 nav.main-navigation ul li a {
    color: #373636;
}
.site-header-4 nav.main-navigation ul li ul {
    top: 59px!important;
}
.site-header-4 nav.main-navigation ul li ul li {
    float: none;
    border-right: none;
}
.site-header-4 nav.main-navigation ul li ul li:first-child {
    border-left: none;
}
.site-header-4 nav.main-navigation ul li ul li:last-child {
    margin-right: 0px;
}
.site-header-4 nav.main-navigation ul li:first-child {
    border-left: 1px solid #e5e5e5;
}
.site-header-4 nav.main-navigation ul li:last-child {
    float: right;
    margin-right: 80px;
    border-right: none;
}
.site-header-4 nav.main-navigation ul li:last-child #example {
    margin-right: 20px;
    margin-top: -25px;
}
.site-header-4 nav.main-navigation ul li:last-child .hideLink i {
    color: #373636;
}
.site-header-4 nav.main-navigation ul li:last-child i {
    margin-right: 20px;
    margin-top: 25px;
}
.site-header-5 {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    padding: 30px;
}
@media (max-width: 991px) {
    .site-header-5 {
        position: fixed;
        z-index: 9999;
    }
}
.site-header-5 .logo {
    padding-bottom: 30px;
}
@media (max-width: 991px) {
    .site-header-5 .logo {
        float: left;
        padding: 15px 0px;
    }
}
.site-header-5 nav.main-navigation ul li {
    display: block;
    padding: 5px 0px;
    width: 100%;
}
.site-header-5 nav.main-navigation ul li ul.sub-menu {
    text-align: left;
    position: relative;
    top: 0px;
    max-width: 100%;
    background-color: transparent;
    padding: 5px 0;
    display: none;
    -moz-transform: translate3d(20px, 0, 0);
    -o-transform: translate3d(20px, 0, 0);
    -ms-transform: translate3d(20px, 0, 0);
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.site-header-5 nav.main-navigation ul li ul.sub-menu li {
    display: block;
    padding: 0;
    margin: 10px 0px;
}
.site-header-5 nav.main-navigation ul li ul.sub-menu li a {
    color: #848282;
    font-size: 10px;
    font-weight: 400;
    padding: 5px 15px;
}
.site-header-5 nav.main-navigation ul li ul.sub-menu li a:hover {
    color: #e8aa00;
}
.site-header-5 nav.main-navigation ul li ul.sub-menu li:last-child {
    float: none;
    border-top: none;
}
.site-header-5 nav.main-navigation ul li:hover ul.sub-menu {
    display: block;
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    animation: fadeIn 500ms;
}
.site-header-5 nav.main-navigation ul li:last-child {
    margin-top: 30px;
    border-top: 2px solid #e5e5e5;
    float: none;
    padding: 0;
}
.site-header-5 nav.main-navigation ul li:last-child .showLink {
    position: relative;
}
.site-header-5 nav.main-navigation ul li:last-child .showLink i {
    margin-top: 35px;
}
.site-header-5 nav.main-navigation ul li:last-child .hideLink {
    position: absolute;
    top: 37px;
    right: 15px;
}
.site-header-5 nav.main-navigation ul li:last-child #example {
    display: none;
}
.site-header-5 nav.main-navigation ul li:last-child #example input {
    border: 1px solid #e5e5e5;
    margin-top: 20px;
    height: 40px;
    width: 200px;
    display: inline-block;
    outline: none;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #888888;
    padding-left: 15px;
}
.site-header-5 nav.main-navigation ul li:last-child i {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 1px;
    display: inline-block;
    text-align: center;
}
.scrolled-header {
    top: 0;
    border-bottom: 1px solid #e5e5e5;
}
.header-right-toggle {
    margin-top: 10px;
    margin-right: 20px;
}
.header-right-toggle a {
    padding-left: 5px;
    margin-top: 25px;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    background-color: #e8aa00;
    display: inline-block;
}
a.side-menu-button {
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
}
a.side-menu-button i {
    margin-right: 6px;
}
nav.main-navigation {
    position: relative;
    z-index: 20;
}
nav.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav.main-navigation ul li {
    position: relative;
    display: inline-block;
    padding: 37px 15px;
}
nav.main-navigation ul li ul.sub-menu {
    text-align: left;
    position: absolute;
    top: 94px;
    left: 0;
    width: 180px;
    background: #603912;
    padding: 5px 0;
    visibility: hidden;
    opacity: 0;
    -moz-transform: translate3d(20px, 0, 0);
    -o-transform: translate3d(20px, 0, 0);
    -ms-transform: translate3d(20px, 0, 0);
    -webkit-transform: translate3d(20px, 0, 0);
    transform: translate3d(20px, 0, 0);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
nav.main-navigation ul li ul.sub-menu li {
    display: block;
    padding: 0;
    margin: 10px 0px;
}
nav.main-navigation ul li ul.sub-menu li a {
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    padding: 5px;
}
nav.main-navigation ul li ul.sub-menu li a:hover {
    color: #e8aa00;
}
nav.main-navigation ul li ul.sub-menu li:last-child {
    float: none;
}
nav.main-navigation ul li:hover ul.sub-menu {
    visibility: visible;
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
nav.main-navigation ul a {
    font-size: 13px;
    font-weight: bold;
    color: #603912;
    text-transform: uppercase;
}
nav.main-navigation ul a i {
    margin-left: 7px;
}
@media (min-width: 992px) and (max-width: 1200px) {
    nav.main-navigation ul a {
        padding: 10px 0;
    }
}
nav.main-navigation ul a:hover,nav.main-navigation ul a.active {
    color: #e8aa00;
}
/*nav.main-navigation ul li:last-child {
  float: right;
  padding: 0;
}
nav.main-navigation ul li:last-child .showLink {
  position: relative;
}
nav.main-navigation ul li:last-child .hideLink {
  position: absolute;
  top: 0;
  right: 0;
}
nav.main-navigation ul li:last-child #example {
  display: none;
}
nav.main-navigation ul li:last-child #example input {
  border: 1px solid #e5e5e5;
  margin-top: 25px;
  height: 40px;
  width: 200px;
  display: inline-block;
  outline: none;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  color: #888888;
  padding-left: 15px;
}
nav.main-navigation ul li:last-child i {
  padding-left: 15px;
  padding-right: 10px;
  margin-top: 50px;
  display: inline-block;
  text-align: center;
}
*/
nav.responsive-menu ul {
    padding: 25px 15px;
    margin: 0;
    list-style: none;
}
nav.responsive-menu ul li {
    display: block;
    position: relative;
}
nav.responsive-menu ul li .show-submenu {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    color: #afafaf;
}
nav.responsive-menu ul li .sub-menu {
    display: none;
    padding: 5px 15px 15px 30px;
}
nav.responsive-menu ul li .sub-menu.open {
    display: block;
}
nav.responsive-menu ul li .sub-menu li:first-child {
    padding-top: 10px;
}
nav.responsive-menu ul li .sub-menu li {
    position: relative;
    margin: 0;
    padding: 3px 10px;
    background-color: #0f232d;
}
nav.responsive-menu ul li .sub-menu li:before {
    content: '-';
    position: absolute;
    left: 0;
    top: 2px;
}
nav.responsive-menu ul li .sub-menu li:last-child {
    padding-bottom: 10px;
}
nav.responsive-menu ul li .sub-menu a {
    padding: 5px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
}
nav.responsive-menu a {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    padding: 5px 10px;
    margin: 0;
    color: #ffffff;
}
.sidebar-menu-inner {
    position: relative;
    overflow: hidden;
    background: #fff;
}
.sidebar-menu-container {
    position: relative;
    overflow: hidden;
}
.sidebar-menu-push {
    position: relative;
    left: 0;
    z-index: 9999;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}
.sidebar-menu-overlay {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.3);
    content: '';
    opacity: 0;
}
.sidebar-menu-open .sidebar-menu-overlay {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}
.sidebar-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    visibility: hidden;
    width: 250px;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #1a3a4b;
    -webkit-transition: all 1s;
    transition: all 1s;
    overflow-y: auto;
}
.sidebar-menu::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    content: '';
    opacity: 1;
}
.sidebar-menu-open .sidebar-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
}
.slide-from-left.sidebar-menu-open .sidebar-menu-push {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
}
.ie9 .slide-from-left .sidebar-menu-push {
    margin-left: 250px;
}
.slide-from-left.sidebar-menu {
    z-index: 1;
}
.slide-from-left.sidebar-menu-open .slide-from-left.sidebar-menu {
    visibility: visible;
    -webkit-transition: -webkit-transform 0s;
    transition: transform 0s;
}
.slide-from-left.sidebar-menu::after {
    display: none;
}
/* Medium Screens */
@media only screen and (min-width: 40.063em) {
    .sidebar-menu {
        width: 320px;
    }
    .slide-from-left.sidebar-menu-open .sidebar-menu-push {
        -webkit-transform: translate3d(320px, 0, 0);
        transform: translate3d(320px, 0, 0);
    }
    .ie9 .slide-from-left .sidebar-menu-push {
        margin-left: 320px;
    }
}
footer {
    background-image: url(../images/footer-bg.jpg);
    padding: 5px 0px;
}
footer h2 {
    margin-bottom: 5px;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #ffffff;
    text-transform: uppercase;
}
footer .about-us p {
    margin-top: 30px;
}
footer .company-pages ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}
footer .company-pages ul li {
    padding-bottom: 0px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #4a4a4a;
    width: 100%;
}
footer .company-pages ul li a {
    color: #afafaf;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
}
footer .company-pages ul li i {
    color: #afafaf;
    margin-right: 10px;
}
footer .company-pages ul li:hover a {
    color: #e8aa00;
}
footer .company-pages ul li:hover i {
    color: #e8aa00;
}
footer .company-pages .first-list {
    margin-top: 5px;
    margin-right: 50px;
    float: left;
}
footer .company-pages .second-list {
    margin-top: 5px;
    margin-right: 0px;
}
footer .recent-posts .recent-item {
    display: inline-block;
    margin-top: 4px;
}
footer .recent-posts .recent-item img {
    border-radius: 5px;
    max-width: 100%;
}
footer .subscribe-us input {
    border: 1px solid #3e3e3e;
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: #353535;
    width: 100%;
    padding-left: 35px;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #888888;
    height: 40px;
    outline: none;
}
footer .subscribe-us input[class='email'] {
    background-image: url(../images/mail-icon.png);
    background-position: 10px;
    background-repeat: no-repeat;
}
footer .subscribe-us .check-box input[type="checkbox"] {
    display: none;
}
footer .subscribe-us .check-box input[type="checkbox"] + label {
    display: inline;
    width: 12px;
    height: 16px;
    margin: -1px 4px 0 0;
    background: url(../images/check-box.png) left top no-repeat;
    cursor: pointer;
}
footer .subscribe-us .check-box label {
    padding-left: 22px;
    display: inline-block;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #b0b0b0;
    font-weight: 400;
    text-decoration: underline;
}
footer .subscribe-us .check-box input[type="checkbox"]:checked + label {
    background: url(../images/checked-box.png) 0px top no-repeat;
}
footer .subscribe-us .accent-button {
    margin-top: 25px;
}
#sub-footer {
    background-color: #282828;
    height: 60px;
}
#sub-footer p {
    line-height: 60px;
    font-size: 12px;
    color: #828282;
}
#sub-footer ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
}
#sub-footer ul li {
    display: inline-block;
    margin-left: 15px;
    line-height: 60px;
}
#sub-footer ul li a {
    color: #ffffff;
}
#sub-footer ul li a:hover {
    color: #e8aa00;
}
.expert-field .left-image img {
    max-width: 100%;
}
@media (max-width: 991px) {
    .expert-field .left-image img {
        margin-bottom: 45px;
        width: 100%;
    }
}
.expert-field .expert-content h4 {
    margin-top: 0px;
    font-family: 'Arial', sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.expert-field .expert-content .line-dec {
    margin: 20px 0px;
    width: 45px;
    height: 2px;
    background-color: #e8aa00;
}
.expert-field .expert-content ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    list-style: none;
    margin-right: 45px;
}
.expert-field .expert-content ul li {
    margin: 10px 0px;
    display: block;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #888888;
}
.expert-field .expert-content ul li i {
    color: #e8aa00;
    margin-right: 10px;
}
.expert-field .expert-content ul:last-child {
    margin-right: 0px;
}
.expert-content p{color:#000;}
.latest-news {
    background-color: #f6f6f6;
}
@media (max-width: 991px) {
    .latest-news .section-heading {
        text-align: center;
    }
}
@media (max-width: 991px) {
    .latest-news .section-heading .line-dec {
        margin-left: auto;
        margin-right: auto;
    }
}
.latest-news .latest-item {
    margin-top: 20px;
}
.latest-news .latest-item img {
    max-width: 100%;
}
@media (max-width: 991px) {
    .latest-news .latest-item img {
        width: 100%;
    }
}
.latest-news .latest-item .down-content {
    background-color: #ffffff;
    padding: 30px;
}
.latest-news .latest-item .down-content h4 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.latest-news .latest-item .down-content .post-info {
    border-top: 1px dashed #e5e5e5;
    padding-top: 15px;
    margin-top: 25px;
}
.latest-news .latest-item .down-content .post-info ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.latest-news .latest-item .down-content .post-info ul li {
    display: inline-block;
    font-size: 12px;
    font-family: 'Arial', sans-serif;
    color: #888888;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #e5e5e5;
}
.latest-news .latest-item .down-content .post-info ul li a {
    color: #888888;
}
.latest-news .latest-item .down-content .post-info ul li a:hover {
    color: #e8aa00;
}
.latest-news .latest-item .down-content .post-info ul li em {
    font-style: normal;
    color: #373636;
}
.latest-news .latest-item .down-content .post-info ul li:last-child {
    border-right: none;
    margin-right: 0px;
    padding-right: 0px;
}
.homepage-5 .section-heading {
    text-align: center;
}
.homepage-5 .section-heading .line-dec {
    margin-left: auto;
    margin-right: auto;
}
.homepage-5 .latest-item .down-content .post-info ul li {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1px solid #e5e5e5;
}
.homepage-5 .latest-item .down-content .post-info ul li:last-child {
    border-right: none;
    margin-right: 0px;
    padding-right: 0px;
}
.blog-classic .blog-posts .blog-post img {
    max-width: 100%;
}
.blog-classic .blog-posts .blog-post .down-content .date {
    margin-right: 30px;
    float: left;
    width: 80px;
    height: 80px;
    border: 2px solid #e5e5e5;
    text-align: center;
    display: inline-block;
    line-height: 80px;
}
.blog-classic .blog-posts .blog-post .down-content .date p {
    margin-left: 0px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 700;
}
.blog-classic .blog-posts .blog-post .down-content .date span {
    margin-left: 0px;
    margin-top: -5px;
    display: block;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 400;
}
.blog-classic .blog-posts .blog-post .down-content .right-cotent h4 {
    margin-top: 40px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.blog-classic .blog-posts .blog-post .down-content .right-cotent ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.blog-classic .blog-posts .blog-post .down-content .right-cotent ul li {
    display: inline-block;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #888888;
    border-right: 1px solid #999999;
    padding-right: 10px;
    margin-left: 5px;
}
.blog-classic .blog-posts .blog-post .down-content .right-cotent ul li a {
    color: #e8aa00;
}
.blog-classic .blog-posts .blog-post .down-content .right-cotent ul li:first-child {
    margin-left: 0px;
}
.blog-classic .blog-posts .blog-post .down-content .right-cotent ul li:last-child {
    border-right: none;
}
.blog-classic .blog-posts .blog-post .down-content p {

    margin-left: 110px;
}
.blog-classic .blog-posts .blog-post .down-content blockquote {
    margin-left: 110px;
    font-family: 'Gerogia', serif;
    font-size: 18px;
    font-style: italic;
}
.blog-classic .blog-posts .blog-post .down-content span {
    margin-left: 120px;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #afafaf;
}
.blog-classic .blog-posts .blog-post .down-content span em {
    font-style: normal;
    color: #e8aa00;
}
.blog-classic .blog-posts .blog-post .down-content .tags {
    margin-left: 110px;
    margin-top: 60px;
}
.blog-classic .blog-posts .blog-post .down-content .tags h6 {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    float: left;
    margin-top: 2px;
    margin-right: 45px;
}
.blog-classic .blog-posts .blog-post .down-content .tags ul {
    padding: 0;
    margin-left: 80px;
    list-style: none;
}
.blog-classic .blog-posts .blog-post .down-content .tags ul li {
    display: inline-block;
}
@media (max-width: 991px) {
    .blog-classic .blog-posts .blog-post .down-content .tags ul li {
        margin: 10px 5px;
    }
}
.blog-classic .blog-posts .blog-post .down-content .tags ul li a {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    padding: 5px 10px;
    border: 1px solid #e5e5e5;
    color: #888888;
}
.blog-classic .blog-posts .blog-post .down-content .tags ul li a:hover {
    background-color: #e8aa00;
    color: #ffffff;
    transition: all 0.5s;
    border-color: transparent;
}
.blog-classic .blog-posts .blog-post .down-content .share {
    margin-left: 110px;
    margin-top: 30px;
}
.blog-classic .blog-posts .blog-post .down-content .share h6 {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    float: left;
    margin-top: 7px;
    margin-right: 40px;
}
.blog-classic .blog-posts .blog-post .down-content .share ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.blog-classic .blog-posts .blog-post .down-content .share ul li {
    margin-right: 5px;
    display: inline;
}
.blog-classic .blog-posts .blog-post .down-content .share ul li a {
    font-size: 12px;
    width: 24px;
    height: 24px;
    text-align: center;
    display: inline-block;
    line-height: 24px;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    color: #afafaf;
}
.blog-classic .blog-posts .blog-post .down-content .share ul li a:hover {
    background-color: #e8aa00;
    color: #ffffff;
    transition: all 0.5s;
    border-color: transparent;
}
.blog-classic .blog-posts .blog-post .down-content .accent-button {
    margin-top: 20px;
    margin-left: 110px;
    margin-bottom: 60px;
}
.blog-classic .latest-item {
    margin-top: 15px;
}
.blog-classic .latest-item img {
    max-width: 100%;
}
@media (max-width: 991px) {
    .blog-classic .latest-item img {
        width: 100%;
    }
}
.blog-classic .latest-item .down-content {
    background-color: #ffffff;
    padding: 0px;
}
.blog-classic .latest-item .down-content h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.blog-classic .latest-item .down-content .post-info {
    border-top: 1px dashed #e5e5e5;
    border-bottom: 1px dashed #e5e5e5;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
}
.blog-classic .latest-item .down-content .post-info ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.blog-classic .latest-item .down-content .post-info ul li {
    display: inline-block;
    font-size: 12px;
    font-family: 'Arial', sans-serif;
    color: #888888;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #e5e5e5;
}
.blog-classic .latest-item .down-content .post-info ul li a {
    color: #888888;
}
.blog-classic .latest-item .down-content .post-info ul li a:hover {
    color: #e8aa00;
}
.blog-classic .latest-item .down-content .post-info ul li em {
    font-style: normal;
    color: #373636;
}
.blog-classic .latest-item .down-content .post-info ul li:last-child {
    border-right: none;
    margin-right: 0px;
    padding-right: 0px;
}
@media (max-width: 991px) {
    .blog-classic .side-bar {
        margin-top: 100px;
    }
}
.blog-classic .side-bar .search-box input {
    border: 2px solid #e5e5e5;
    margin-bottom: 25px;
    width: 100%;
    padding-left: 15px;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #888888;
    height: 40px;
    outline: none;
}
.blog-classic .side-bar .search-box input[class='search'] {
    background-image: url(../images/search-icon.png);
    background-position: 330px 13px;
    background-repeat: no-repeat;
}
@media (max-width: 991px) {
    .blog-classic .side-bar .search-box input[class='search'] {
        background-image: none;
    }
}
.blog-classic .side-bar .sidebar-widget {
    margin-top: 40px;
}
.blog-classic .side-bar .sidebar-widget h4 {
    margin-top: 0px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.blog-classic .side-bar .sidebar-widget .line-dec {
    width: 46px;
    height: 1px;
    background-color: #e8aa00;
    margin-bottom: 25px;
}
.blog-classic .side-bar .sidebar-widget ul {
    margin: 0;
    padding-left: 0px;
    padding-bottom: 20px;
    list-style: none;
    border-bottom: 1px solid #e5e5e5;
}
.blog-classic .side-bar .sidebar-widget ul li {
    margin-bottom: 10px;
    display: block;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #888888;
}
.blog-classic .side-bar .sidebar-widget ul li:hover a,.blog-classic .side-bar .sidebar-widget ul li.active a {
    color: #e8aa00;
    transition: all 0.5s;
    cursor: pointer;
}
.blog-classic .side-bar .sidebar-widget .latest-item {
    margin-top: 10px;
    display: block;
    border-bottom: 1px solid #ccc;
}
.blog-classic .side-bar .sidebar-widget .latest-item img {
    max-width: 100%;
    float: left;
    margin-right: 15px;
}
@media (max-width: 991px) {
    .blog-classic .side-bar .sidebar-widget .latest-item img {
        max-width: 80px;
    }
}
.blog-classic .side-bar .sidebar-widget .latest-item h6 {
    display: inline-block;
    margin: 1px 0px !important;
    font-size: 13px;
    font-family: 'Arial', sans-serif;
}
.blog-classic .side-bar .sidebar-widget .latest-item span {
    display: block;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #888888;
}
.blog-classic .side-bar .sidebar-widget .latest-item span i {
    font-size: 13px;
    margin-right: 5px;
}
.blog-classic .side-bar .sidebar-widget .last-latest {
    padding-bottom: 50px;
    border-bottom: 1px solid #e5e5e5;
}
.blog-classic .side-bar .sidebar-widget .twitter-item {
    margin-bottom: 20px;
}
.blog-classic .side-bar .sidebar-widget .twitter-item i {
    color: #e8aa00;
    float: left;
    width: 30px;
    height: 20px;
    margin-top: 5px;
    font-size: 16px;
}
.blog-classic .side-bar .sidebar-widget .twitter-item p {
    margin-bottom: 10px;
}
.blog-classic .side-bar .sidebar-widget .twitter-item em {
    font-style: normal;
    color: #373636;
    margin-right: 5px;
}
.blog-classic .side-bar .sidebar-widget .twitter-item span {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #a2a2a2;
}
.blog-classic .side-bar .sidebar-widget .tags ul {
    margin-top: 40px;
}
.blog-classic .side-bar .sidebar-widget .tags ul li {
    display: inline-block;
    padding: 5px;
}
.blog-classic .side-bar .sidebar-widget .tags ul li a {
    padding: 5px 10px;
    border: 1px solid #e5e5e5;
    color: #888888;
}
.blog-classic .side-bar .sidebar-widget .tags ul li a:hover {
    background-color: #e8aa00;
    color: #ffffff;
    transition: all 0.5s;
    border-color: transparent;
}
.blog-classic .pagination {
    margin-top: 60px;
}
.blog-classic .pagination ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.blog-classic .pagination ul li {
    display: inline-block;
}
.blog-classic .pagination ul li a {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #888888;
    width: 36px;
    height: 36px;
    display: inline-block;
    line-height: 36px;
    text-align: center;
    border: 1px solid #e5e5e5;
}
.blog-classic .pagination ul li a:hover {
    color: #ffffff;
    background-color: #e8aa00;
    border-color: transparent;
    transition: all 0.5s;
}
.blog-classic .pagination ul li.first, .blog-classic .pagination ul li.last{
    display: none;
}
.blog-classic .pagination ul li.selected a {
    color: #ffffff;
    background-color: #e8aa00;
    border-color: transparent;
}
.blog-classic .comments {
    margin-top: 60px;
    margin-left: 110px;
}
@media (max-width: 991px) {
    .blog-classic .comments {
        margin-left: 0px;
    }
}
.blog-classic .comments h2 {
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}
.blog-classic .comments .comment-item {
    margin-top: 40px;
}
.blog-classic .comments .comment-item img {
    float: left;
    max-width: 100%;
}
.blog-classic .comments .comment-item .right-content {
    padding: 20px 25px;
    margin-left: 112px;
    background-color: #f6f6f6;
}
.blog-classic .comments .comment-item .right-content ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.blog-classic .comments .comment-item .right-content ul li {
    display: inline;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #888888;
}
.blog-classic .comments .comment-item .right-content ul li a {
    color: #888888;
}
.blog-classic .comments .comment-item .right-content ul li a:hover {
    color: #e8aa00;
    transition: all 0.5s;
}
.blog-classic .comments .comment-item .right-content ul li:first-child {
    color: #e8aa00;
}
.blog-classic .comments .comment-item .right-content p {
    border-top: 1px solid #e5e5e5;
    padding-top: 15px;
    margin-top: 20px;
}
.blog-classic .comments .comment-2 {
    margin-left: 112px;
    margin-top: 30px;
}
.blog-classic .leave-comment {
    margin-left: 110px;
    padding-top: 30px;
    margin-top: 60px;
    border-top: 1px solid #e5e5e5;
}
@media (max-width: 991px) {
    .blog-classic .leave-comment {
        margin-left: 0px;
    }
}
.blog-classic .leave-comment #contact_form input {
    border-color: transparent;
    background-color: #f6f6f6;
}
.blog-classic .leave-comment #contact_form textarea {
    border-color: transparent;
    background-color: #f6f6f6;
}
.contact-form #contact_form input {
    border: 2px solid #e5e5e5;
    margin-bottom: 25px;
    width: 100%;
    padding-left: 15px;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #888888;
    height: 40px;
    outline: none;
}
.contact-form #contact_form textarea {
    border: 2px solid #e5e5e5;
    margin-bottom: 25px;
    width: 100%;
    max-width: 100%;
    min-height: 200px;
    max-height: 240px;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #888888;
    height: 40px;
    padding: 12px 15px;
    outline: none;
}
@media (max-width: 991px) {
    .contact-form .right-info {
        margin-top: 60px;
    }
}
.contact-form .right-info h4 {
    margin-top: 0px;
    font-family: 'Arial', sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.contact-form .right-info .line-dec {
    margin: 20px 0px;
    width: 45px;
    height: 2px;
    background-color: #e8aa00;
}
.contact-form .right-info ul {
    padding: 0;
    margin-top: 30px;
    list-style: none;
}
.contact-form .right-info ul li {
    display: block;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    margin: 12px 0px;
    color: #888888;
}
.contact-form .right-info ul li i {
    color: #373636;
    margin-right: 10px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
}
.map {
    margin-bottom: 80px;
}
.map #map {
    width: 100%;
    height: 390px;
    border: 2px solid #e5e5e5;
}
.recent-projects {
    background-image: url(../images/recent-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.recent-projects .section-heading {
    text-align: left;
}
@media (max-width: 991px) {
    .recent-projects .section-heading {
        float: none;
        text-align: center;
        margin-bottom: 60px;
        margin-top: -10px;
    }
}
@media (max-width: 991px) {
    .recent-projects .section-heading .line-dec {
        margin-left: auto;
        margin-right: auto;
    }
}
.recent-projects .section-heading h2 {
    color: #ffffff;
}
.recent-projects .group {
    margin-top: -40px;
    margin-bottom: 20px;
    border-top: 1px solid #637a83;
    border-bottom: 1px solid #637a83;
    display: inline-block;
    float: right;
}
@media (max-width: 991px) {
    .recent-projects .group {
        float: none;
        text-align: center;
    }
}
.recent-projects .group span {
    font-family: 'Arial', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 10px;
}
.recent-projects .group span.active {
    border-bottom: 3px solid #e8aa00;
    border-top: 3px solid #e8aa00;
    box-shadow: none;
    color: #e8aa00;
}
.recent-projects .group span:hover {
    color: #e8aa00;
}
.recent-projects .group span:active {
    box-shadow: none;
}
.recent-projects .thumb-holer {
    position: relative;
}
.recent-projects .thumb-holer img {
    position: relative;
    width: 100%;
    display: block;
}
.recent-projects .thumb-content {
    left: 0;
    bottom: 0;
    margin: 0px 11px 0px 10px;
    position: absolute;
    opacity: 1;
    visibility: visible;
    background-color: rgba(250, 250, 250, 0.9);
    width: 270px;
}
.recent-projects .thumb-link {
    text-align: right;
    margin: 0px;
}
.recent-projects .thumb-link i {
    font-size: 12px;
    color: #ffffff;
    background-color: #e8aa00;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}
.recent-projects .thumb-text {
    text-align: center;
    padding: 0 10px 0 5px;
}
.recent-projects .thumb-text h4 {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.recent-projects .thumb-text span {
    font-family: 'Arial', sans-serif;
    color: #888888;
    font-weight: 400;
    font-size: 12px;
}
.recent-projects .thumb-text i {
    font-size: 14px;
    margin-right: 5px;
    color: #ffffff;
}
.recent-projects .thumb-holder:hover .thumb-content {
    cursor: default;
    opacity: 1;
    visibility: visible;
    transition: all 1s;
}
section.homepage-5 {
    padding-bottom: 40px;
}
section.homepage-5 .projects .mix {
    margin-bottom: 30px;
}
section.homepage-5 .projects .thumb-holder img {
    width: 100%;
}
section.homepage-5 .projects .thumb-holder .thumb-content {
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0px 15px 0px 15px;
    position: absolute;
    background-color: rgba(250, 250, 250, 0.9);
}
@media (max-width: 991px) {
    section.recent-projects .section-heading-2 h2 {
        text-align: center;
    }
    section.recent-projects .line-dec {
        margin-left: auto;
        margin-right: auto;
    }
}
section.full-width {
    padding-bottom: 0px;
}
section.full-width .col-md-3.col-sm-6 {
    padding-left: 0;
    padding-right: 0;
}
section.full-width .col-md-4.col-sm-6 {
    padding-left: 0;
    padding-right: 0;
}
section.full-width .thumb-holder img {
    width: 100%;
}
section.full-width .thumb-content {
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: 0px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(250, 250, 250, 0.9);
}
section.full-width .group {
    margin-top: 40px;
    margin-bottom: 60px;
    border-top: 1px solid #637a83;
    border-bottom: 1px solid #637a83;
    display: inline-block;
    float: none;
    text-align: center;
}
section.full-width .group span {
    font-family: 'Arial', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: #637a83;
    padding: 12px 10px;
}
section.full-width .group span.active {
    border-bottom: 3px solid #e8aa00;
    border-top: 3px solid #e8aa00;
    box-shadow: none;
    color: #e8aa00;
}
section.full-width .group span:hover {
    color: #e8aa00;
}
section.full-width .group span:active {
    box-shadow: none;
}
section.full-width .section-heading {
    text-align: center;
}
section.full-width .section-heading .line-dec {
    margin-left: auto;
    margin-right: auto;
}
.projects .mix {
    display: none;
}
#projects-filter a {
    display: inline-block;
    padding: 10px 12px;
    margin: 0 2px;
    color: #888888;
    text-transform: uppercase;
}
#projects-filter a:hover {
    color: #373636;
}
#projects-filter a.active {
    background-color: #373636;
    cursor: default;
    color: #ffffff;
}
.projects-page {
    text-align: center;
}
.projects-page .group {

    margin-bottom: 0px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: inline-block;
    float: none;
    text-align: center;
}
.projects-page .group span {
    font-family: 'Arial', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    color: #373636;
    padding: 12px 10px;
}
.projects-page .group span.active {
    border-bottom: 3px solid #e8aa00;
    border-top: 3px solid #e8aa00;
    box-shadow: none;
    color: #e8aa00;
}
.projects-page .group span:hover {
    color: #e8aa00;
}
.projects-page .group span:active {
    box-shadow: none;
}
.projects-page .second-row {
    margin-top: 30px;
}
.projects-page .thumb-holer {
    position: relative;
}
.projects-page .thumb-holer img {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: block;
}
.projects-page .thumb-content {
    left: 0;
    bottom: 0;
    margin: 0px 0px 0px 15px;
    position: absolute;
    opacity: 1;
    visibility: visible;
    background-color: rgba(250, 250, 250, 0.9);
    width: 270px;
}
.projects-page .thumb-link {
    text-align: right;
    margin: 0px;
}
.hover_a:hover{
    color: #e8aa00
}
.projects-page .thumb-link i {
    font-size: 12px;
    color: #ffffff;
    background-color: #e8aa00;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}
.projects-page .thumb-text {
    text-align: center;
    padding: 0 10px 0 5px;
}
.projects-page .thumb-text h4 {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.projects-page .thumb-text span {
    font-family: 'Arial', sans-serif;
    color: #888888;
    font-weight: 400;
    font-size: 12px;
}
.projects-page .thumb-text i {
    font-size: 14px;
    margin-right: 5px;
    color: #ffffff;
}
.projects-page .thumb-holder:hover .thumb-content {
    cursor: default;
    opacity: 1;
    visibility: visible;
    transition: all 1s;
}
.projects-page .accent-button {
    margin: 45px 0px;
}
.single-project .left-info h4 {
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}
.single-project .left-info ul {
    padding: 0;
    margin-top: 30px;
    margin-bottom: 50px;
    list-style: none;
}
.single-project .left-info ul li {
    margin: 12px 0px;
    display: block;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #373636;
}
.single-project .left-info .project-list ul li {
    margin: 20px 0px;
}
.single-project .left-info .project-list ul li i {
    margin-right: 10px;
}
.single-project .left-info .project-list ul li span {
    margin-right: 10px;
}
.single-project .left-info .project-list ul li a {
    color: #888888;
}
.single-project .left-info .project-list ul li a:hover {
    color: #e8aa00;
    transition: all 0.5s;
}
.single-project .right-content .project-owl .owl-controls .owl-buttons .owl-prev {
    left: 20px;
}
.single-project .right-content .project-owl .owl-controls .owl-buttons .owl-next {
    right: 20px;
}
.single-project .right-content .under-single {
    text-align: center;
    display: inline;
}
.single-project .right-content .under-single img {
    margin-top: 45px;
    max-width: 100%;
}
.section-heading h2 {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-heading .line-dec {
    width: 45px;
    height: 2px;
    background-color: #e8aa00;
}
.section-heading-2 h2 {
    text-align: left;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #ffffff;
}
.section-heading-2 .line-dec {
    width: 45px;
    height: 2px;
    background-color: #e8aa00;
}
#page-heading {
    margin-top: 80px;
    background-image: url(../images/heading-bg.jpg);
    background-color: #E6E6E6;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    padding: 1px 0px;
    height: 35px;
}
#page-heading h1 {
    margin-top: 27px;
    font-family: 'Arial', sans-serif;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1px;
}
#page-heading span {
    font-family: 'Gerogia', serif;
    font-size: 17px;
    font-style: italic;
    color: #afafaf;
}
.slider {
    z-index: -1;
}
.slider-3 {
    margin-top: 50px;
}
.slider-3 .first-line {
    text-align: center;
}
.slider-3 .second-line {
    text-align: center;
}
.slider-3 .slider-button {
    text-align: center;
    margin-left: 0px!important;
}
.slider-2 {
    margin-top: -50px;
}
.slider-2 .first-line {
    text-align: center;
}
.slider-2 .second-line {
    text-align: center;
}
.slider-2 .slider-button {
    text-align: center;
    margin-left: 0px!important;
}
.slider-4 {
    margin-top: 110px;
}
.slider-4 .before-line h6 {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #e8aa00;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 1px;
}
.slider-4 .first-line {
    text-align: center;
}
.slider-4 .second-line {
    text-align: center;
}
.slider-4 .slider-button {
    text-align: center;
    margin-left: 0px!important;
}
.slider-5 {
    margin-top: 0px;
}
@media (max-width: 991px) {
    .slider-5 {
        margin-top: 60px;
    }
}
.slider-5 .before-line h6 {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #e8aa00;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 1px;
}
.slider-5 .first-line {
    font-size: 64px;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
}
.slider-5 .second-line {
    color: #ffffff;
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: none;
}
.first-line {
    font-size: 48px;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
}
.slider .line-dec {
    width: 100px;
    height: 3px;
    background-color: #e8aa00;
}
.second-line {
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0px;
    text-transform: none;
}
.third-line {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0px;
    text-transform: none;
}
.third-line em {
    font-style: normal;
    color: #e8aa00;
}
.slider-thumb .thumb-item .top-content {
    background-color: #2e5c89;
    width: 100%;
    height: 60px;
    padding: 1px 0px;
}
.slider-thumb .thumb-item .top-content span {
    line-height: 60px;
    margin-left: 13px;
    float: left;
    font-size: 14px;
    color: #373636;
    font-weight: 700;
    position: absolute;
    z-index: 10;
}
.slider-thumb .thumb-item .top-content .span-bg {
    position: absolute;
    z-index: 9;
    background-color: #2e5c89;
    height: 59px;
    width: 60px;
    -webkit-transform: rotate(0deg) skew(0deg);
    transform: rotate(0deg) skew(0deg);
    border-left: 80px solid #e8aa00;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
}
.slider-thumb .thumb-item .top-content h2 {
    margin-left: 80px;
    margin-top: 12px;
    padding: 10px 10px;
    background-color: #e8aa00;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}
.slider-thumb .thumb-item .down-content {
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    width: 100%;
    padding: 15px;
}
.slider-thumb .thumb-item .down-content p {
    color: #c7c7c7;
    display: inline-block;
}
.slider-thumb .thumb-item .down-content img {
    float: right;
    border: 2px solid rgba(250, 250, 250, 0.5);
}
.slider ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slider .tp-caption {
    visibility: hidden;
    opacity: 0;
}
.tp-bullets {
    z-index: 1!important;
}
.services {
    background-color: #ffffff;
}
.services .second-row {
    margin-top: 45px;
}
@media (max-width: 991px) {
    .services .service-item {
        margin-bottom: 40px;
    }
}
.services .service-item img {
    width: 100%;
}
.services .service-item h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.services .service-item a {
    display: inline-block;
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    text-transform: capitalize;
    color: #e8aa00;
    letter-spacing: 0.1px;
}
.services-2 .section-heading .line-dec {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}
.services-2 .service-item {
    text-align: center;
}
@media (max-width: 991px) {
    .services-2 .service-item {
        margin-top: 30px;
    }
}
.services-2 .service-item i {
    width: 70px;
    height: 70px;
    line-height: 68px;
    text-align: center;
    display: inline-block;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
    color: #888888;
    font-size: 16px;
}
.services-2 .service-item i:hover {
    color: #e8aa00;
    border-color: #e8aa00;
    cursor: pointer;
    transition: all 0.5s;
}
.services-2 .service-item h4 {
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
@media (max-width: 991px) {
    .services-3 .service-item {
        margin-bottom: 45px;
    }
}
.services-3 .service-item i {
    color: #e8aa00;
    float: left;
    font-size: 28px;
    margin-right: 25px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    display: inline-block;
}
.services-3 .service-item h4 {
    margin-top: 0px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.services-3 .service-item p {
    margin-left: 55px;
}
.services-3 .second-row {
    margin-top: 30px;
}
.homepage-4 .section-heading .line-dec {
    margin-right: auto;
    margin-left: auto;
}
.our-services-2 {
    background-color: #ffffff;
    /* flip the pane when hovered */
    /* flip speed goes here */
    /* hide back of pane during swap */
    /* front pane, placed above back */
    /* back, initially hidden pane */
}
.our-services-2 .section-heading {
    text-align: center;
}
.our-services-2 .section-heading .line-dec {
    margin-left: auto;
    margin-right: auto;
}
.our-services-2 .service-item {
    margin-top: 45px;
    perspective: 1000;
}
@media (max-width: 991px) {
    .our-services-2 .service-item {
        margin-right: auto;
        margin-left: auto;
    }
}
.our-services-2 .service-item:hover .flipper,
.our-services-2 .service-item.hover .flipper {
    cursor: pointer;
    transform: rotateY(180deg);
}
.our-services-2 .service-item,
.our-services-2 .front,
.our-services-2 .back {
    width: 250px;
    height: 170px;
}
.our-services-2 .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.our-services-2 .front,
.our-services-2 .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.our-services-2 .front {
    z-index: 2;
    background-color: #f6f6f6;
    transform: rotateY(0deg);
}
.our-services-2 .front i {
    margin-top: 40px;
    width: 65px;
    height: 50px;
    text-align: center;
    display: inline-block;
    line-height: 50px;
    border: 1px solid #e5e5e5;
    font-size: 26px;
}
.our-services-2 .front h2 {
    margin-top: 30px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.our-services-2 .back {
    transform: rotateY(180deg);
    background-color: #e8aa00;
}
.our-services-2 .back h2 {
    color: #ffffff;
    margin-top: 45px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.our-services-2 .back p {
    color: #ffffff;
    padding: 0px 20px;
}
.our-services {
    /* entire container, keeps perspective */
    /* flip the pane when hovered */
    /* flip speed goes here */
    /* hide back of pane during swap */
    /* front pane, placed above back */
    /* back, initially hidden pane */
}
@media (max-width: 991px) {
    .our-services .section-heading {
        text-align: center;
    }
}
@media (max-width: 991px) {
    .our-services .section-heading .line-dec {
        margin-left: auto;
        margin-right: auto;
    }
}
.our-services .service-item {
    margin-top: 20px;
    perspective: 1000;
}
@media (max-width: 991px) {
    .our-services .service-item {
        margin-right: auto;
        margin-left: auto;
    }
}
.our-services .service-item:hover .flipper,
.our-services .service-item.hover .flipper {
    cursor: pointer;
    transform: rotateY(180deg);
}
.our-services .service-item,
.our-services .front,
.our-services .back {
    width: 270px;
    height: 170px;
}
.our-services .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
.our-services .front,
.our-services .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.our-services .front {
    z-index: 2;
    background-color: #F57921;
    transform: rotateY(0deg);
}
.our-services .front i {
    margin-top: 40px;
    width: 65px;
    height: 50px;
    text-align: center;
    display: inline-block;
    line-height: 50px;
    border: 1px solid #e5e5e5;
    font-size: 26px;
}
.our-services .front h2 {
    margin-top: 30px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.our-services .back {
    transform: rotateY(180deg);
    background-color: #B71C2A;
}
.our-services .back h2 {
    color: #ffffff;
    margin-top: 45px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}
.our-services .back p {
    color: #ffffff;
    padding: 0px 20px;
}
@media (max-width: 991px) {
    .single-service .single-content {
        margin-top: 60px;
    }
}
.single-service .single-content .services-slider .flex-control-thumbs {
    text-align: center;
}
.single-service .single-content .services-slider .flex-control-thumbs li {
    width: 162px;
    margin: 10px 5px;
    float: none;
}
.single-service .single-content .services-slider .flex-direction-nav {
    display: none;
}
.single-service .single-content .single-text {
    margin-top: 40px;
}
.single-service .single-content .single-text h4 {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
}
.single-service .single-content .single-text em {
    font-style: normal;
    font-weight: 700;
}
.single-service .side-bar .services-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.single-service .side-bar .services-list ul li {
    display: block;
    padding: 15px 20px;
    background-color: #e8aa00;
}
.single-service .side-bar .services-list ul li a {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
}
.single-service .side-bar .services-list ul li a i {
    float: right;
    font-size: 16px;
}
.single-service .side-bar .services-list ul li:hover {
    background-color: #cf9700;
}
.single-service .side-bar .about-company {
    margin-top: 30px;
    background-color: #f6f6f6;
    padding: 30px;
}
.single-service .side-bar .about-company h4 {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 25px;
}
.single-service .side-bar .about-company ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.single-service .side-bar .about-company ul li {
    margin: 5px 0px;
    display: inline-block;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #888888;
}
.single-service .side-bar .about-company ul li i {
    color: #e8aa00;
    font-size: 14px;
    margin-right: 10px;
    width: 20px;
}
.single-service .side-bar .brochures h4 {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}
.single-service .side-bar .brochures ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.single-service .side-bar .brochures ul li {
    margin: 10px 0px;
    display: block;
    padding: 10px 15px;
    background-color: #e8aa00;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
}
.single-service .side-bar .brochures ul li a {
    color: #ffffff;
}
.single-service .side-bar .brochures ul li i {
    float: right;
    font-size: 14px;
}
.clients {
    background-color: #ffffff;
    width: 100%;
    position: relative;
}
@media (max-width: 991px) {
    .clients .section-heading {
        text-align: center;
    }
}
@media (max-width: 991px) {
    .clients .section-heading .line-dec {
        margin-left: auto;
        margin-right: auto;
    }
}
.clients #owl-clients {
    text-align: center;
}
.clients #owl-clients .item {
    margin-top: 0px;
    text-align: center;
    background-color: #ffffff;
    width: 170px;
    height: 125px;
    display: inline-block;
}
.clients #owl-clients .item img:hover {
    opacity: 0.9;
    cursor: pointer;
}
@media (max-width: 991px) {
    .clients .owl-theme .owl-controls .owl-buttons {
        display: none;
    }
}
@media (max-width: 991px) {
    .clients-2 .owl-theme .owl-controls .owl-buttons {
        display: none;
    }
}
.clients-2 {
    background-color: #ffffff;
    width: 100%;
    position: relative;
}
.clients-2 #owl-clients2 {
    text-align: center;
}
.clients-2 #owl-clients2 .item {
    margin-top: 30px;
    text-align: center;
    background-color: #ffffff;
    width: 170px;
    height: 125px;
    display: inline-block;
}
.clients-2 #owl-clients2 .item img:hover {
    opacity: 0.9;
    cursor: pointer;
}
#cta-1 {
    padding: 20px 0px;
    background-color: #e8aa00;
}
#cta-1 .cta-content h6 {
    margin-top: 15px;
    float: left;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.1px;
}
#cta-1 .cta-content .buttons .learn {
    float: right;
    margin-left: 15px;
}
#cta-1 .cta-content .buttons .buy {
    float: right;
}
#cta-2 {
    background-image: url(../images/cta2-bg.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0px;
}
#cta-2 h1 {
    margin-top: 0px;
    margin-bottom: 30px;
    font-family: 'Arial', sans-serif;
    font-size: 34px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}
#cta-2 ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#cta-2 ul li {
    margin: 5px 0px;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    display: block;
    color: #ffffff;
}
#cta-2 .buttons {
    margin-top: 30px;
}
#cta-2 .buttons .contact {
    float: left;
    margin-right: 10px;
}
#cta-2 .buttons .watch {
    float: left;
}
#cta-3 {
    padding: 25px;
    background-color: #e8aa00;
}
#cta-3 .cta-content h6 {
    margin-top: 15px;
    float: left;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 0.1px;
}
#cta-3 .cta-content .buttons .learn {
    float: right;
    margin-left: 10px;
}
#cta-3 .cta-content .buttons .buy {
    float: right;
}
.testimonials {
    background-image: url(../images/testimonial-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonials .section-heading h2 {
    color: #ffffff;
}
.testimonials .testimonials-slider {
    min-width: 100%;
}
.testimonials .testimonials-slider .flex-control-thumbs {
    margin-top: 40px;
}
.testimonials .testimonials-slider .flex-control-thumbs li {
    float: none;
    width: 66px;
    text-align: center;
    margin: 0px 10px;
}
.testimonials .testimonials-slider .flex-control-thumbs img {
    width: 66px;
    height: 66px;
}
.testimonials .testimonials-slider .flex-control-thumbs .flex-active {
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 3px;
    transition: all 0.3s;
}
.testimonials .testimonials-slider .flex-direction-nav {
    display: none;
}
.testimonials .testimonials-slider .item {
    text-align: center;
    margin-top: 15px;
    width: 100%;
    display: inline;
}
.testimonials .testimonials-slider .item i {
    color: #e8aa00;
    display: block;
}
.testimonials .testimonials-slider .item p {
    margin-top: 20px;
    font-family: 'Gerorgia', serif;
    font-size: 17px;
    color: #ffffff;
    font-style: italic;
}
.testimonials .testimonials-slider .item h4 {
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
}
.testimonials .testimonials-slider .item span {
    display: block;
    color: #afafaf;
    font-size: 12px;
}
.slider-button {
    margin-left: -15px;
}
.slider-button a {
    width: 120px;
    height: 40px;
    border: 2px solid #ffffff;
    display: inline-block;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff !important;
    line-height: 38px;
    text-align: center;
    border-radius: 3px;
}
.border-button a {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    height: 40px;
    display: inline-block;
    line-height: 35px;
    padding: 0px 15px;
    border: 2px solid #ffffff;
    border-radius: 3px;
    letter-spacing: 0.5px;
}
.border-button a:hover {
    background-color: #333333;
    border-color: transparent;
    transition: all 0.5s;
}
.accent-button a {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    padding: 0px 15px;
    background-color: #e8aa00;
    border-radius: 3px;
    letter-spacing: 0.5px;
}
.border-accent-button a {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    height: 40px;
    display: inline-block;
    line-height: 35px;
    padding: 0px 15px;
    border: 2px solid #ffffff;
    border-radius: 3px;
    letter-spacing: 0.5px;
}
.border-accent-button a:hover {
    background-color: #e8aa00;
    border-color: transparent;
    transition: all 0.5s;
}
.white-button {
    text-align: center;
}
.white-button a {
    padding: 7px 15px;
    background-color: #ffffff;
    display: inline-block;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #373636 !important;
    text-align: center;
    border-radius: 3px;
}
.white-button a:hover {
    color: #ffffff !important;
    background-color: #e8aa00;
    transition: all 0.5s;
}
.white-button-2 {
    text-align: center;
}
.white-button-2 a {
    padding: 10px 20px;
    background-color: #ffffff;
    display: inline-block;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #373636 !important;
    text-align: center;
    border-radius: 3px;
}
.white-button-2 a:hover {
    color: #ffffff !important;
    background-color: #e8aa00;
    transition: all 0.5s;
}
.subscribe-button a {
    height: 42px;
    border: 2px solid #e5e5e5;
    padding: 0px 15px;
    display: inline-block;
    line-height: 36px;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #ffffff;
}
.go-top {
    width: 34px!important;
    height: 34px!important;
    line-height: 34px!important;
    font-size: 18px;
    border-radius: 5px;
    background-color: #e8aa00 !important;
}
#tabs-info-2 {
    margin-top: 70px;
}
#tabs-info-2 .section-heading .line-dec {
    margin-left: auto;
    margin-right: auto;
}
#tabs-info-2 .section-heading p {
    margin-top: 25px;
    margin-bottom: 30px;
}
#tabs-info-2 .left-tab img {
    max-width: 100%;
}
@media (max-width: 991px) {
    #tabs-info-2 .left-tab {
        margin-bottom: 45px;
        width: 100%;
    }
}
#tabs-info-2 .tabs {
    width: 100%;
    display: inline-block;
}
#tabs-info-2 .tab-links:after {
    display: block;
    clear: both;
    content: '';
}
#tabs-info-2 .tab-links {
    padding: 0;
    margin: 0;
}
#tabs-info-2 .tab-links li {
    margin: 0px;
    float: left;
    list-style: none;
    border-right: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}
#tabs-info-2 .tab-links li a {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    padding: 10px 15px;
}
#tabs-info-2 .tab-links li:first-child {
    border-left: 1px solid #e5e5e5;
}
#tabs-info-2 .tab-links li {
    position: relative;
    margin-left: 0px;
}
#tabs-info-2 .tab-links li:first-child {
    margin-left: 0;
}
#tabs-info-2 .tab-links li:first-child span {
    margin-left: 0px;
}
#tabs-info-2 .tab-links a:hover {
    background-color: #e8aa00;
    transition: all 0.5s;
}
#tabs-info-2 li.active a {
    color: #ffffff;
    background-color: #e8aa00;
    transition: all 0.5s;
}
#tabs-info-2 .tab-content {
    background: #fff;
    border: 1px solid #e5e5e5;
    margin-bottom: 70px;
}
#tabs-info-2 .tab-content .text-content {
    padding: 20px;
}
#tabs-info-2 .tab {
    display: none;
}
#tabs-info-2 .tab.active {
    display: block;
}
#tabs-info {
    padding: 30px 0px;
    background-color: #f6f6f6;
}
#tabs-info .right-tab {
    margin-top: 70px;
}
#tabs-info .right-tab img {
    max-width: 100%;
    margin-bottom: 28px;
    border: 4px solid #ffffff;
}
#tabs-info .tabs {
    width: 100%;
    display: inline-block;
}
#tabs-info .tab-links:after {
    display: block;
    clear: both;
    content: '';
}
#tabs-info .tab-links {
    margin-left: -45px;
}
#tabs-info .tab-links li {
    margin: 0px 2px;
    float: left;
    list-style: none;
}
#tabs-info .tab-links li {
    position: relative;
    margin-left: -38px;
}
#tabs-info .tab-links li .left-bg {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 20px solid transparent;
    border-right: 20px solid #ffffff;
    border-top: 20px solid #ffffff;
    left: 0px;
    top: 0px;
}
#tabs-info .tab-links li .right-bg {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 20px solid transparent;
    border-left: 20px solid #ffffff;
    border-bottom: 20px solid #ffffff;
    right: 0px;
    top: 0px;
}
#tabs-info .tab-links li:first-child {
    margin-left: 0;
}
#tabs-info .tab-links li:first-child span {
    margin-left: 0px;
}
#tabs-info .tab-links li span {
    text-transform: uppercase;
    font-size: 12px;
    color: #373636;
    font-family: 'Arial', sans-serif;
    padding: 0 20px;
    background: #ffffff;
    line-height: 40px;
    display: block;
    margin-right: 40px;
    margin-left: 40px;
    height: 40px;
}
#tabs-info .tab-links a:hover {
    color: #e8aa00;
    text-decoration: none;
}
#tabs-info li.active a span {
    color: #ffffff;
    background-color: #BC8302;
}
#tabs-info li.active a i.left-bg {
    border-top-color: #BC8302;
    border-right-color: #BC8302;
}
#tabs-info li.active a i.right-bg {
    border-left-color: #BC8302;
    border-bottom-color: #BC8302;
}
#tabs-info .tab-content {
    margin-top: 30px;
    background: #fff;
}
#tabs-info .tab-content img {
    max-width: 100%;
    float: left;
    margin-right: 30px;
}
@media (max-width: 991px) {
    #tabs-info .tab-content img {
        margin-bottom: 40px;
        width: 100%;
    }
}
#tabs-info .tab-content .text-content {
    padding: 20px;
}
#tabs-info .tab-content .text-content h2 {
    margin-top: 9px;
    margin-bottom: 0px;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}
#tabs-info .tab-content .text-content p {
    margin-top: 20px;
}
#tabs-info .tab-content .text-content em {
    font-style: normal;
    color: #e8aa00;
}
#tabs-info .tab {
    display: none;
}
#tabs-info .tab.active {
    display: block;
}
.share-passion-2 {
    background-image: url(../images/passion-bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.share-passion-2 .progress-bar div span {
    position: absolute;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #373636;
    line-height: 92px;
    height: 92px;
    width: 92px;
    left: 4px;
    top: 4px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
}
@media (max-width: 991px) {
    .share-passion-2 .bar-item {
        margin-bottom: 40px;
    }
}
.share-passion-2 .bar-item h6 {
    color: #ffffff;
}
.share-passion-2 .last-bar h6 {
    color: #ffffff;
}
.share-passion {
    text-align: center;
}
.share-passion .last-bar h6 {
    font-family: 'Arial', sans-serif;
    font-weight: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15px;
}
.share-passion .bar-item {
    border-right: 2px solid #e5e5e5;
}
.share-passion .bar-item h6 {
    font-family: 'Arial', sans-serif;
    font-weight: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15px;
}
.share-passion .section-heading .line-dec {
    margin-left: auto;
    margin-right: auto;
}
.share-passion .section-heading p {
    margin-top: 25px;
    margin-bottom: 30px;
}
.share-passion .progress-bar {
    float: none;
    box-shadow: none;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 20px auto 0 auto;
    text-align: center;
    background-color: transparent;
    border-color: transparent;
}
.share-passion .progress-bar div {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.share-passion .progress-bar div span {
    position: absolute;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #373636;
    line-height: 92px;
    height: 92px;
    width: 92px;
    left: 4px;
    top: 4px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
}
.share-passion .progress-bar .background {
    background-color: transparent;
    border-color: transparent;
}
.share-passion .progress-bar .rotate {
    clip: rect(0 50px 100px 0);
    background-color: transparent;
    border-color: transparent;
}
.share-passion .progress-bar .left {
    clip: rect(0 50px 100px 0);
    opacity: 1;
    background-color: transparent;
    border-color: transparent;
}
.share-passion .progress-bar .right {
    clip: rect(0 50px 100px 0);
    transform: rotate(180deg);
    opacity: 0;
    background-color: transparent;
    border-color: transparent;
}
@keyframes toggle {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.our-team {
    background-color: #f6f6f6;
}
.our-team .section-heading .line-dec {
    margin-right: auto;
    margin-left: auto;
}
.our-team .team-member {
    margin-top: 45px;
}
.our-team .team-member .thumb-holder {
    overflow: hidden;
}
.our-team .team-member .thumb-holder img {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.our-team .team-member .thumb-holder .hover-effect {
    padding: 15px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0px 15px 0px 15px;
    position: absolute;
    opacity: 0;
    -moz-transform: translate3d(0, 60px, 0);
    -o-transform: translate3d(0, 60px, 0);
    -ms-transform: translate3d(0, 60px, 0);
    -webkit-transform: translate3d(0, 60px, 0);
    transform: translate3d(0, 60px, 0);
    visibility: hidden;
    background-color: #e8aa00;
}
.our-team .team-member .thumb-holder .hover-effect .hover-content {
    text-align: center;
}
.our-team .team-member .thumb-holder .hover-effect .hover-content h4 {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 5px;
}
.our-team .team-member .thumb-holder .hover-effect .hover-content span {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #ffffff;
}
.our-team .team-member .thumb-holder .hover-effect .hover-content ul {
    padding: 0;
    margin-top: 20px;
    list-style: none;
}
.our-team .team-member .thumb-holder .hover-effect .hover-content ul li {
    display: inline-block;
    margin: 0 2px;
}
.our-team .team-member .thumb-holder .hover-effect .hover-content ul li a {
    font-size: 13px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    color: #ffffff;
}
.our-team .team-member .thumb-holder .hover-effect .hover-content ul li a:hover {
    border-color: transparent;
    transition: all 0.5s;
}
.our-team .team-member .thumb-holder:hover .hover-effect {
    opacity: 1;
    visibility: visible;
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.error-content {
    text-align: center;
}
.error-content h1 {
    margin-top: 0px;
    font-family: 'Arial', sans-serif;
    font-size: 164px;
    font-weight: 700;
    color: #e8aa00;
}
.error-content h4 {
    margin-top: 30px;
    font-family: 'Arial', sans-serif;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 6px;
}
.error-content p {
    font-size: 13px;
}
.error-content a {
    color: #484848;
}
.error-content a:hover {
    color: #e8aa00;
    transition: all 0.5s;
}
.coming-soon-cover {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-image: url(http://placehold.it/1600x700);
    background-repeat: no-repeat;
    background-size: cover;
}
.coming-soon {
    position: relative;
    z-index: 100;
}
.coming-soon .logo {
    margin-top: 70px;
    padding-bottom: 50px;
}
.coming-soon .text-content h4 {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    color: #ffffff;
}
.coming-soon .text-content span {
    font-family: 'Arial', sans-serif;
    font-size: 13px;
    color: #d1cdcd;
}
.coming-soon #getting-started {
    margin-top: 30px;
    text-align: center;
}
.coming-soon #getting-started .number {
    font-family: 'Arial', sans-serif;
    font-size: 100px;
    color: #ffffff;
}
.coming-soon #getting-started .label {
    margin-top: -15px;
    display: block;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}
.coming-soon .subscribe-form {
    margin-top: 70px;
}
@media (max-width: 991px) {
    .coming-soon .subscribe-form {
        text-align: center;
    }
}
.coming-soon .subscribe-form input {
    outline: none;
    margin-right: 15px;
    float: left;
    width: 240px;
    height: 42px;
    border: 2px solid #e5e5e5;
    background-color: transparent;
    padding-left: 15px;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #ffffff;
}
@media (max-width: 991px) {
    .coming-soon .subscribe-form input {
        float: none;
        margin-bottom: 15px;
    }
}
.footer-coming-soon {
    margin-top: 70px;
    position: relative;
    z-index: 100;
    text-align: center;
    padding: 15px 0px;
}
.footer-coming-soon span {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #888888;
    margin-bottom: 20px;
    display: block;
}
.footer-coming-soon ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-coming-soon ul li {
    display: inline;
    margin: 0 8px;
}
.footer-coming-soon ul li i {
    font-size: 12px;
    color: #ffffff;
}
.footer-coming-soon ul li i:hover {
    color: #e8aa00;
    transition: all 0.5s;
}
/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
/* clearfix */
.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
/* display none until init */
.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
    float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer;
}
.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon */
.grabbing {
    cursor: url(grabbing.png) 8 8, move;
}
/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.23
*/
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: alpha(opacity=100);
    /*IE7 fix*/
    opacity: 1;
}
/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
/* preloading images */
.owl-item.loading {
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center;
}
.wrapper-with-margin {
    margin: 0px 50px;
}
.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #ffffff;
    color: #1e1e1e;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    opacity: 1;
    border-radius: 50%;
}
.clients .owl-theme .owl-controls .owl-buttons div {
    text-align: center;
    position: absolute;
    width: 54px;
    height: 32px;
    display: inline-block;
    border-radius: 0px;
    background-color: #f6f6f6;
}
.clients .owl-theme .owl-controls .owl-buttons div:hover {
    background-color: #e8aa00;
    color: #ffffff;
}
.clients .owl-theme .owl-controls .owl-buttons .owl-prev {
    left: 90%;
    top: -40px;
    position: absolute;
    display: inline-block;
}
.clients .owl-theme .owl-controls .owl-buttons .owl-next {
    right: 5px;
    top: -40px;
    position: absolute;
    display: inline-block;
    margin-left: 30px!important;
}
.clients-2 .owl-theme .owl-controls .owl-buttons div {
    text-align: center;
    position: absolute;
    width: 54px;
    height: 32px;
    display: inline-block;
    border-radius: 0px;
    background-color: #f6f6f6;
}
.clients-2 .owl-theme .owl-controls .owl-buttons div:hover {
    background-color: #e8aa00;
    color: #ffffff;
}
.clients-2 .owl-theme .owl-controls .owl-buttons .owl-prev {
    left: 86%;
    top: -40px;
    position: absolute;
    display: inline-block;
}
.clients-2 .owl-theme .owl-controls .owl-buttons .owl-next {
    right: 5px;
    top: -40px;
    position: absolute;
    display: inline-block;
    margin-left: 30px!important;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: -45px;
    top: 175px;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
    right: -45px;
    top: 175px;
}
.go-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    position: fixed;
    bottom: 60px;
    right: 10px;
    z-index: 77;
    font-size: 18px;
    text-align: center;
    background: #2d2c2c;
    color: #fff !important;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}
.go-top.go-top-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.go-top.go-topfade-out {
    opacity: 1;
}
@media (max-width: 991px) {
    .go-top {
        right: 20px;
        bottom: 20px;
    }
}
@media (min-width: 992px) {
    .go-top {
        height: 60px;
        width: 60px;
        line-height: 60px;
        right: 30px;
        bottom: 60px;
    }
}
.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.nano .content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
}
.nano .content:focus {
    outline: 0;
}
.nano .content::-webkit-scrollbar {
    visibility: hidden;
}
.has-scrollbar .content::-webkit-scrollbar {
    visibility: visible;
}
.nano .pane {
    position: absolute;
    width: 3px;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden\9;
    /* Target only IE7 and IE8 with this hack */
    opacity: 0.01;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.nano .pane .slider {
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    margin: 0 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}
.nano:hover .pane,
.pane.active,
.pane.flashed {
    opacity: 0.99;
}
.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.nano .content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
}
/*
 * jQuery FlexSlider v2.4.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 * 
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
    font-family: 'flexslider-icon';
    src: url('../fonts/flexslider-icon.eot');
    src: url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/flexslider-icon.woff') format('woff'), url('../fonts/flexslider-icon.ttf') format('truetype'), url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
    outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}
.flex-pauseplay span {
    text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
    margin: 0;
    padding: 0;
}
.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}
.flexslider .slides img {
    width: 100%;
    display: block;
}
.flexslider .slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] .flexslider .slides {
    display: block;
}
* html .flexslider .slides {
    height: 1%;
}
.no-js .flexslider .slides > li:first-child {
    display: block;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 10px;
    }
    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 10px;
    }
}
