.selectStyle_Elm{
	position:relative;
	z-index:1;
	border:1px solid #ccc;
	padding:5px;
	float:left;
	margin-right:10px
}
.selectStyle_Elm_mini{
	position:relative;
	z-index:1;
	padding:5px;
	float:left;
	margin-right:10px
}
.selectStyle_Txt{
	display:block;
	height:13px;
	line-height:13px;
	overflow:hidden;
	font-size:12px;
	font-weight:normal;
	color:#333;
	/*margin-right:18px;*/
}
@-moz-document url-prefix() {
	.selectStyle_Txt{
		margin-right:18px;
	}
}
.selectStyle_Arrow{
	background:url(../../images/arr_down.gif) no-repeat 0 0;
	width:8px;
	height:4px;
	display:block;
	float:right;
	margin:5px 0 0 5px;
	/*position:absolute;
	right:7px;
	top:10px;*/
}
.selectStyle_Elm select,.selectStyle_Elm_mini select{
	position:absolute;
	width:101%;
	left:-1px;
	top:-1px;
	padding:0;
	opacity:0 !important;
	filter:alpha(opacity=0) !important;
	white-space:nowrap;
}

.selectStyle_Elm_mini select{
	width:100px;
}

.selectStyle_Elm select{
	width:100px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	::i-block-chrome,.selectStyle_Elm_mini select{
		top:0px;
	}
}