div.admincp_tabs ul.admincp_tabs{
	border-bottom:1px solid #ccc;
	height:27px;
}
div.admincp_tabs ul.admincp_tabs li{
	float:left;
	margin:0 2px 0 0
}
div.admincp_tabs ul.admincp_tabs li a{
	display:block;
	padding:0 15px;
	height:26px;
	line-height:26px;
	border:1px solid #ccc;
	border-width:0 1px;
	font-weight:bold;
	background:#f1f1f1 url(../../images/th-bg.png) repeat-x;
	text-decoration:none;
	cursor:pointer;
	overflow:hidden;
	
	-moz-border-radius:5px 5px 0 0;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}
div.admincp_tabs ul.admincp_tabs li.active a{
	background:#fff;
	border-bottom-color:#fff;
	border-width:1px;
}
div.admincp_tabs ul.admincp_tabs li a label{
	cursor:pointer;
}
div.admincp_tabs .admincp_tabs_ct{
	clear:both;
	background:#fff;
	border:1px solid #ccc;
	border-width:0 1px 1px;
	padding:10px;
	
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	border-radius:0 0 5px 5px;
}