.grid-view thead th{
    white-space:nowrap;
}
.grid-view tbody th,
.grid-view tbody td{
    padding:5px;
}
.grid-view .summary{
    float:left;
    text-align:right;
    font-weight:normal;
    line-height: 17px;
    /*padding:5px 0 0 5px;*/
}
/*.grid-view .filters select,
.grid-view .filters input{
    width:100%;
    font-size:11px;
    font-family:Tahoma;

    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}*/
.grid-view table.adminlist th a.desc,
.grid-view table.adminlist th a.asc{
    display:inline-block;
    padding-right:10px;
}
.grid-view table.adminlist th a.asc{
    background:url(../images/asc.gif) no-repeat right 6px ;
}
.grid-view table.adminlist th a.desc{
    background:url(../images/desc.gif) no-repeat right 6px;
}