.icons{
	display:block;
	background:url(../images/icons.png) no-repeat;
	height:16px;
	overflow:hidden;
}
.icons.ico01{
	width:15px;
	margin:0 auto
}
.icons.ico03,
.icons.ico02{
	width:16px;
	margin:0 auto;
	background-position:-15px 0
}
.icons.ico03{
	background-position:-31px 0 !important;
}
.icons.ico04{
	width:18px;
	margin:0 auto;
	background-position:-47px 0;
}
.icon32{
	display:block;
	overflow:hidden;
	width:32px;
	height:32px;
	margin:0 auto;
}
.icon48{
	display:block;
	overflow:hidden;
	width:48px;
	height:48px;
	margin:0 auto;
}