/** menu icons **/
.icon16_archive 		{ background-image: url(../images/icons/menu/icon-16-archive.png); }
.icon16_article 		{ background-image: url(../images/icons/menu/icon-16-article.png); }
.icon16_category 	{ background-image: url(../images/icons/menu/icon-16-category.png); }
.icon16_checkin 		{ background-image: url(../images/icons/menu/icon-16-checkin.png); }
.icon16_component	{ background-image: url(../images/icons/menu/icon-16-component.png); }
.icon16_config 		{ background-image: url(../images/icons/menu/icon-16-config.png); }
.icon16_content 		{ background-image: url(../images/icons/menu/icon-16-content.png); }
.icon16_cpanel 		{ background-image: url(../images/icons/menu/icon-16-cpanel.png); }
.icon16_default 		{ background-image: url(../images/icons/menu/icon-16-default.png); }
.icon16_frontpage 	{ background-image: url(../images/icons/menu/icon-16-frontpage.png); }
.icon16_help			{ background-image: url(../images/icons/menu/icon-16-help.png); }
.icon16_info 			{ background-image: url(../images/icons/menu/icon-16-info.png); }
.icon16_install 		{ background-image: url(../images/icons/menu/icon-16-install.png);}
.icon16_language 	{ background-image: url(../images/icons/menu/icon-16-language.png);}
.icon16_logout 		{ background-image: url(../images/icons/menu/icon-16-logout.png);}
.icon16_massmail 	{ background-image: url(../images/icons/menu/icon-16-massmail.png); }
.icon16_media 		{ background-image: url(../images/icons/menu/icon-16-media.png);}
.icon16_menu 			{ background-image: url(../images/icons/menu/icon-16-menu.png); }
.icon16_menumgr 		{ background-image: url(../images/icons/menu/icon-16-menumgr.png); }
.icon16_messages 	{ background-image: url(../images/icons/menu/icon-16-messages.png); }
.icon16_module 		{ background-image: url(../images/icons/menu/icon-16-module.png); }
.icon16_plugin 		{ background-image: url(../images/icons/menu/icon-16-plugin.png); }
.icon16_section 		{ background-image: url(../images/icons/menu/icon-16-section.png); }
.icon16_static 		{ background-image: url(../images/icons/menu/icon-16-static.png); }
.icon16_stats 		{ background-image: url(../images/icons/menu/icon-16-stats.png); }
.icon16_themes 		{ background-image: url(../images/icons/menu/icon-16-themes.png); }
.icon16_trash 		{ background-image: url(../images/icons/menu/icon-16-trash.png); }
.icon16_user 			{ background-image: url(../images/icons/menu/icon-16-user.png); }


/** toolbar icons **/
.icon32_send 			{ background-image: url(../images/icons/toolbar/icon-32-send.png); }
.icon32_delete 		{ background-image: url(../images/icons/toolbar/icon-32-delete.png); }
.icon32_help 			{ background-image: url(../images/icons/toolbar/icon-32-help.png); }
.icon32_cancel 		{ background-image: url(../images/icons/toolbar/icon-32-cancel.png); }
.icon32_config 		{ background-image: url(../images/icons/toolbar/icon-32-config.png); }
.icon32_apply 		{ background-image: url(../images/icons/toolbar/icon-32-apply.png); }
.icon32_back			{ background-image: url(../images/icons/toolbar/icon-32-back.png); }
.icon32_forward		{ background-image: url(../images/icons/toolbar/icon-32-forward.png); }
.icon32_save 			{ background-image: url(../images/icons/toolbar/icon-32-save.png); }
.icon32_edit 			{ background-image: url(../images/icons/toolbar/icon-32-edit.png); }
.icon32_copy 			{ background-image: url(../images/icons/toolbar/icon-32-copy.png); }
.icon32_move 			{ background-image: url(../images/icons/toolbar/icon-32-move.png); }
.icon32_new 			{ background-image: url(../images/icons/toolbar/icon-32-new.png); }
.icon32_upload 		{ background-image: url(../images/icons/toolbar/icon-32-upload.png); }
.icon32_assign 		{ background-image: url(../images/icons/toolbar/icon-32-publish.png); }
.icon32_html 			{ background-image: url(../images/icons/toolbar/icon-32-html.png); }
.icon32_css 			{ background-image: url(../images/icons/toolbar/icon-32-css.png); }
.icon32_menus 			{ background-image: url(../images/icons/toolbar/icon-32-menu.png); }
.icon32_publish 		{ background-image: url(../images/icons/toolbar/icon-32-publish.png); }
.icon32_unpublish 	{ background-image: url(../images/icons/toolbar/icon-32-unpublish.png);}
.icon32_restore		{ background-image: url(../images/icons/toolbar/icon-32-revert.png); }
.icon32_trash 		{ background-image: url(../images/icons/toolbar/icon-32-trash.png); }
.icon32_archive 		{ background-image: url(../images/icons/toolbar/icon-32-archive.png); }
.icon32_unarchive 	{ background-image: url(../images/icons/toolbar/icon-32-unarchive.png); }
.icon32_preview 		{ background-image: url(../images/icons/toolbar/icon-32-preview.png); }
.icon32_default 		{ background-image: url(../images/icons/toolbar/icon-32-default.png); }
.icon32_export 		{ background-image: url(../images/icons/toolbar/icon-32-export.png); }

/** header icons **/
.icon48_generic 		{ background-image: url(../images/icons/header/icon-48-generic.png); }
.icon48_checkin 		{ background-image: url(../images/icons/header/icon-48-checkin.png); }
.icon48_cpanel 		{ background-image: url(../images/icons/header/icon-48-cpanel.png); }
.icon48_config 		{ background-image: url(../images/icons/header/icon-48-config.png); }
.icon48_module 		{ background-image: url(../images/icons/header/icon-48-module.png); }
.icon48_menu 			{ background-image: url(../images/icons/header/icon-48-menu.png); }
.icon48_menumgr 		{ background-image: url(../images/icons/header/icon-48-menumgr.png); }
.icon48_trash 		{ background-image: url(../images/icons/header/icon-48-trash.png); }
.icon48_user	 		{ background-image: url(../images/icons/header/icon-48-user.png); }
.icon48_inbox 		{ background-image: url(../images/icons/header/icon-48-inbox.png); }
.icon48_msgconfig 	{ background-image: url(../images/icons/header/icon-48-message_config.png); }
.icon48_langmanager { background-image: url(../images/icons/header/icon-48-language.png); }
.icon48_mediamanager{ background-image: url(../images/icons/header/icon-48-media.png); }
.icon48_plugin 	{ background-image: url(../images/icons/header/icon-48-plugin.png); }
.icon48_help_header { background-image: url(../images/icons/header/icon-48-help_header.png); }
.icon48_impressions { background-image: url(../images/icons/header/icon-48-stats.png); }
.icon48_browser 		{ background-image: url(../images/icons/header/icon-48-stats.png); }
.icon48_searchtext 	{ background-image: url(../images/icons/header/icon-48-stats.png); }
.icon48_thememanager{ background-image: url(../images/icons/header/icon-48-themes.png); }
.icon48_massemail 	{ background-image: url(../images/icons/header/icon-48-massemail.png); }
.icon48_frontpage 	{ background-image: url(../images/icons/header/icon-48-frontpage.png); }
.icon48_sections 	{ background-image: url(../images/icons/header/icon-48-section.png); }
.icon48_addedit 		{ background-image: url(../images/icons/header/icon-48-article-add.png); }
.icon48_article 		{ background-image: url(../images/icons/header/icon-48-article.png); }
.icon48_categories 	{ background-image: url(../images/icons/header/icon-48-category.png); }
.icon48_install 		{ background-image: url(../images/icons/header/icon-48-extension.png); }
.icon48_dbbackup		{ background-image: url(../images/icons/header/icon-48-backup.png); }
.icon48_dbrestore 	{ background-image: url(../images/icons/header/icon-48-dbrestore.png); }
.icon48_dbquery 		{ background-image: url(../images/icons/header/icon-48-query.png); }
.icon48_systeminfo 	{ background-image: url(../images/icons/header/icon-48-info.png); }
.icon48_massemail 	{ background-image: url(../images/icons/header/icon-48-massmail.png); }
