.navbar{
	clear:both;
	padding:0 2px;
	/*height:26px;*/
	background:#ddd;
        border-bottom: 1px solid #ccc;
}
.navbar ul{
	margin:0;
	padding:0;
	list-style:none;
}
.navbar.disabled{
	cursor:default !important;
}
.navbar.disabled a:link,
.navbar.disabled a:visited{
	color:#666 !important;
	cursor:default !important;
	text-decoration:none;
}
.navbar li{
	float:left;
	/*height:26px;*/
	font-weight:bold;
	position:relative
}
.navbar li.s{
	width:1px;
	height:26px;
	overflow:hidden;
	background:url(../images/nav_space.png) no-repeat left 11px;
}
.navbar li.s.n{
	background:none
}
.navbar li a{
	display:block;
	padding:0 10px;
	height:30px;
	line-height:30px;
}
.navbar > ul > li > a{
	text-shadow:1px 1px #fff;
        white-space: nowrap;
        /*text-overflow: ellipsis;*/
        /*overflow: hidden;*/
        /*max-width: 120px;*/
}
.navbar > ul > li.h > a{
	text-decoration:none;
	background:#fff;
	/*height:29px;*/
	padding:0 9px;
	border:1px solid #30497d;
	border-width:0 1px;
	position:relative;
	z-index:2
}
/* sub cat */
.navbar li ul{
	z-index:1;
	display:none;
	position:absolute;
	padding:0;
	top:29px;
	background:#fff;
	border:1px solid #30497d;
	-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
	/*width:180px;*/
}
.navbar li ul li{
	float:none;
	line-height:normal;
	height:auto;
	white-space:nowrap;
}
.navbar li ul li > a{
    display: block;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    white-space: nowrap;
}
.navbar li ul li a{
	text-decoration:none;
	height:auto;
	line-height:normal;
	padding:0 9px;
        height: 28px;
        line-height: 28px;
	font-weight:normal;
	border-width:1px 0;
}
.navbar ul ul li.h ul li a:hover,
.navbar li li.h > a{
	background:#6d84b4;
	color:#FFFFFF !important;
}
.navbar li ul li ul{
	left:150px;
	top:-1px;
}
.navbar ul ul li.h ul li a{
	color:#3B5998;
	border-color:#fff;
}