body{
	background:#6d92c2;
	padding:20px;
}
.kho_giay{
	background:#fff;
	border:1px solid #000;
	margin:0 auto;
	-moz-box-shadow: 1px 1px 5px 1px #333;
	-webkit-box-shadow: 1px 1px 5px 1px #333;
	box-shadow: 1px 1px 5px 1px #333;
	position:relative;
}

.it{
	-moz-box-shadow: inset 0 0 5px #000000;
	-webkit-box-shadow: inset 0 0 5px #000000;
	box-shadow: inset 0 0 5px #000000;
	float:left;
	font-size:13px;
	color:#fff;
	text-shadow:1px 1px #000;
	font-weight:bold;
	text-indent:10px;
	overflow:hidden;
	position:relative;
}
.it .count{
	display:block;
	position:absolute;
	right:5px;
	bottom:5px
}
.it.txtHidden{
	text-indent:-99999px;
}