ul.yiiPager{
	margin:0;
	padding:3px 0 0 0;
	/*float:right;*/
	line-height:14px;
	text-align:center;
	font-weight:normal
}
.yiiPager li{
	display:inline-block;
}
.yiiPager li a{
	display:inline-block;
	float:left;
	padding:0 3px;
	line-height:14px;
}
.yiiPager li.selected a{
	font-weight:bold;
	cursor:default;
	text-decoration:none;
	color:#000
}
.yiiPager li.hidden a:visited,
.yiiPager li.hidden a:link{
	color:#666;
	text-decoration:none;
	cursor:default;
}
/* icon */
.yiiPager li.first a,
.yiiPager li.previous a,
.yiiPager li.last a,
.yiiPager li.next a{
	text-indent:-9999px;
	height:14px;
	padding:0
}
.yiiPager li.last a,
.yiiPager li.first a{
	width:10px;
	background:url(../images/page_icon.png) no-repeat 0 3px;
}
.yiiPager li.last a{
	background-position:right 3px
}
.yiiPager li.hidden.last a{
	background-position:right -25px;
}
.yiiPager li.hidden.first a{
	background-position:0 -25px;
}
.yiiPager li.next a,
.yiiPager li.previous a{
	width:9px;
	background:url(../images/page_icon.png) no-repeat -18px 3px;
	margin:0 5px;
}
.yiiPager li.next a{
	background-position:-42px 3px;
}
.yiiPager li.hidden.next a{
	background-position:-42px -25px;
}
.yiiPager li.hidden.previous a{
	background-position:-18px -25px;
}