@import url('icon.css');
@import url('icons.css');
@import url('navbar.css');
@import url('../js/tabslet/style.css');
input,
textarea,
select{
    margin:0;
    visibility:visible;
}
input[type="text"], textarea, select{
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    color:#444;
}
input[type="file"]{
    font-size:11px;
}
textarea.style,input.style{
    border:1px solid #7f9db9;
    padding:5px;
    font-family:Tahoma;
    font-size:11px;
    color:#666666;
}
textarea.style:focus,
input.style:focus{
    -moz-box-shadow:inset 0 0 5px #999;
    -webkit-box-shadow:inset 0 0 5px #999;
    box-shadow:inset 0 0 5px #999;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
.selectElm select,
textarea,
input[type="tel"]{
    border: 1px solid #ddd;
    border-top-color: #bbb;
    padding: 4px 6px;
    background: #fff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
.selectElm select:hover,
textarea:hover,
input[type="tel"]:hover{
    border-color: #aaa
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
.selectElm select:focus,
textarea:focus,
input[type="tel"]:focus{
    border-color: #3B5998
}
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="tel"]:disabled,
.selectElm select:disabled{
    background: #e9e9e9;
    border-color: #ccc;
}
input[type="text"]:readonly,
input[type="password"]:readonly,
input[type="email"]:readonly,
input[type="number"]:readonly,
input[type="tel"]:readonly,
textarea:readonly{
    border-color: #ccc !important;
}
.selectElm{
    position: relative;
    display: inline-block;
}
.selectElm select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.selectElm i{
    background: #fff url(../images/down_chevron.png) no-repeat center 50%;
    height: 23px;
    width: 20px;
    display: block;
    right: 1px;
    top: 1px;
    position: absolute;
    pointer-events:none;
}
#loading{
    z-index:9999;
    position:fixed;
    padding:8px 5px;
    background:#fff/*rgba(255,255,255,.7)*/;
    border:1px solid #bbb;
    display:none;
    box-shadow:0 0 3px 3px rgba(0,0,0,.2);
    -moz-box-shadow:0 0 3px 3px rgba(0,0,0,.2);
    -webkit-box-shadow:0 0 3px 3px rgba(0,0,0,.2);
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;

    font-size:11px;
    text-align:center;
    font-family:Tahoma, Geneva, sans-serif !important;
}
#loading p{
    margin:3px 0 0 0;
    color:#666
}
.clr{
    display:block;
    clear:both;
    width:98%;
    height:0;
    overflow:hidden
}
span.required{
    color:#c00;
}
.inline{
    display:inline-block;
    vertical-align:middle;
}

/*#loading{
        position:fixed;
        right:0;
        top:0;
        background:#ffffff;
        padding:3px;
        margin-right:3px;
        margin-top:3px;
        border:1px solid #CCCCCC;
        z-index:9999;
        color:#000000;
        line-height:14px;
}
#loading img{
        float:left;
        margin-right:5px;
}
html #loading{ 
        *position:absolute;
        *top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat')? documentElement.scrollTop : document.body.scrollTop);
}*/

body{
    font-family:Tahoma, Arial, Helvetica, sans-serif;
    font-size:12px;
    margin:0;
    padding:0;
    color:#444;
    /*background: url(../images/bg.png) no-repeat right bottom;*/
}
textarea.inputbox, input.inputbox{
    border:1px inset #cccccc;
}
/*input.error{
        outline:#c00 solid 1px;
}*/
a:link, a:visited{
    text-decoration:none;
    color:#3b5998;
}
a:hover, a:active{
    text-decoration:underline;
}
img{
    border:0;
}
img.img{
    padding:2px;
    border:1px solid #e1e1e1;
}
legend{
    color:#CF7979;
}	
.fl{
    float:left;
}	
.fr{
    float:right;
}
span.date{
    display:block;

    color:#999999}	

ul.ul{
    margin:0;
    padding:0;
    list-style:none}

h1, h2, h3, h4, h5, form{
    margin:0;
    padding:0;
}
.grBg{
    background:url(../images/gradient.png) repeat-x left top;
}
.hdrScroll{
    position:fixed;
    top:0;
    left:0;
    right:0;
    /*width:100%;*/
    z-index:1000
}
body.scroll .hdr{
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3);
    box-shadow:0 2px 5px rgba(0,0,0,.3);
}
.hdrBar{
    height:40px;
    position:absolute;
    background:url(../images/hdr_bar_bg.png) repeat-x left top;
    width:100%;
    z-index:-1;
}
.hdr_top{
    padding:0 20px;
    height:40px;
}
.hdr_top a.fl{
    display:block;
    margin-top:12px
}
.hdr_top .logoutLnk{
    font-size:13px;
    margin-top:10px;
    opacity: .5
}
.hdr_top .logoutLnk,
.hdr_top .logoutLnk a{
    color: #fff;
}
.footer{
    text-align:center;
    font-weight:bold;
    padding:10px 0;
    padding-bottom:60px;
    padding:20px 0;
}
.bdw{
    padding:12px;
}
table.adminlist input.edittable,
table.adminlist textarea.edittable{
    padding:5px;
    width:97% !important;
}
table.adminlist{
    width:100%;
    border-collapse:collapse;
    border:1px solid #ccc;
    font-family:Arial, Helvetica, sans-serif;
}
.grid-view table.adminlist{
    font-family:Tahoma, Arial, Helvetica, sans-serif;
}
table.adminlist tfoot th{
    font-weight:normal;
    color:#3B5998
}
table.adminlist th,
table.adminlist td{
    border:1px solid #ccc;
    border-width:0 0 1px 0;
    background:#fff;
    vertical-align:middle;
    text-align: left;
    padding:7px;
}
table.adminlist th.align_center,
table.adminlist td.align_center{
    text-align: center !important;
}
table.adminlist th.align_right,
table.adminlist td.align_right{
    text-align: right !important;
}
/*table.adminlist td{
        padding:7px 4px;
}
table.adminlist tbody td{
        padding:7px;
}*/
table.adminlist tbody td table.none td{
    padding:inherit;
    border:0
}
table.adminlist .odd td{
    background:#f9f9f9;
}
table.adminlist > tr:hover > td,
table.adminlist > tbody tr:hover > td,
table.adminlist > tr.odd:hover > td,
table.adminlist > tbody tr.odd:hover > td{
    background:#e8e8e8;
}
table.adminlist th{
    background: #ddd;
    border-top:2px solid #3B5998;
    text-shadow:1px 1px #fff;
}
table.adminlist th#ids{
    width: 14px;
}
table.adminlist td.cke_top{
    background:#eee
}
table.adminlist .selected td a{
    color:#000000
}
/*table.adminlist tr:hover td{
        background:#ecfbd4;
}*/
table.adminlist tr.selected:hover td,
table.adminlist tr.selected td{
    background:#ffcc99 !important
}
table.adminlist .filters td select,
table.adminlist .filters td input{
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
table.adminlist .filters td .selectElm{
    display: block;    
}
table.adminlist th.checkbox-column{
    width:20px;
    text-align: center;
}
.grid-view table.adminlist thead td.colHover,
.grid-view table.adminlist tbody td.colHover{
    background: #FFEBD1 !important;
}
.grid-view table.adminlist thead th.colHover{
    background: #F7D3A8 !important;
}
.adminheading{
    color:#333;
    height:48px;
    float:left;
}
.adminheading .fl{
    line-height:40px;
    font-size:20px;
    color:#3B5998;
    font-family:Arial, Helvetica, sans-serif;
    font-size:22px;
    font-weight:bold;
    text-shadow:1px 1px #fff;
    margin-left:6px;
}
.adminheading .fl span{
    font-size:16px;
    color:#666
}
.toolbar{
    background:#f2f2f2;
    border-bottom:1px solid #e3e3e3;
    padding:10px 12px 8px;
}
/*.frm_msg{
        text-align:center;
        background:#f0f5ff;
        border:1px solid #3b5998;
        padding:3px 10px;
        margin-bottom:10px;
        padding-left:5px;
        font-size:12px;
        color:#3b5998;
        line-height:20px;
        margin-top:4px;
        font-weight:bold;
        -moz-box-shadow: 5px 5px 5px #ccc;
        -webkit-box-shadow: 5px 5px 5px #ccc;
        box-shadow:3px 2px 2px #999;
        text-shadow:1px 1px #fff
}*/
/*.frm_msg.error{
        background:#ffebe8;
        border-color:#dd3c10;
        color:#333333
}*/
/*.toolbar .msg.error .ico{
        width:23px;
        background:url(../images/ico_ls.png) no-repeat -34px top;
}
.toolbar .msg .ico{
        display:block;
        float:left;
        width:28px;
        height:21px;
        background:url(../images/ico_ls.png) no-repeat left top;
        margin-right:5px;
}*/
/*.ToolBarBtn{
        padding-top:7px;
}*/
.ToolBarBtn ul{
    list-style:none;
    margin:0;
    padding:0;
    float:right;
}
.ToolBarBtn ul li{
    float:left;
}
.ToolBarBtn a{
    display:block;
    float:left;
    margin-left:5px;
    height:auto;
    line-height:normal;
    font-weight:normal;
    border:1px solid #ccc;
    padding:5px 10px 5px 27px;
    font-size:11px;
    -moz-box-shadow: 1px 1px 2px #ccc;
    -webkit-box-shadow: 1px 1px 2px #ccc;
    box-shadow:1px 1px 2px #ccc;
    text-shadow:1px 1px #fff;
    white-space:nowrap;
    text-align:center;
    background:#fff;
    height:16px;
    line-height:14px;
}
a.add{
    background:#fff url(../images/toolbar/_add.png) no-repeat 5px 5px;
}
.ToolBarBtn a.saveBtn, .ToolBarBtn a.save{
    background:#fff url(../images/toolbar/save.png) no-repeat 5px 5px;
}
.ToolBarBtn a.cancel{
    background:#fff url(../images/toolbar/cancel.png) no-repeat 5px 5px;
}
.ToolBarBtn a.deleteBtn, .ToolBarBtn a.delete{
    background:#fff url(../images/toolbar/delete.png) no-repeat 5px 5px;
}
.ToolBarBtn a.createBtn, .ToolBarBtn a.add{
    background:#fff url(../images/toolbar/add.png) no-repeat 5px 5px;
}
.ToolBarBtn a.backBtn, .ToolBarBtn a.back{
    background:#fff url(../images/toolbar/back.png) no-repeat 5px 5px;
    padding-left:28px;
}
.ToolBarBtn a.publish{
    background:#fff url(../images/toolbar/publish.png) no-repeat 5px 5px;
}
.ToolBarBtn a.unpublish{
    background:#fff url(../images/toolbar/unpublish.png) no-repeat 5px 5px;
}
.ToolBarBtn a.copy{
    background:#fff url(../images/toolbar/copy.png) no-repeat 5px 5px;
}
.ToolBarBtn a:hover{
    /*background:#fff;*/
    border-color:#999;
    text-decoration:none;
    -moz-box-shadow: 1px 1px 2px #999;
    -webkit-box-shadow: 1px 1px 2px #999;
    box-shadow:1px 1px 2px #999;
}
.icon{
    width:18px;
    height:18px;
    background:url(../images/ico_ls.png) no-repeat -63px top;
}
.icon.ico3{
    background-position:-86px top
}
.icon.ico4{
    background-position:-109px top
}
.loginFrm{
    margin:0 auto;
}
.loginBox{
    background:#f3f0e7;
    border:1px solid #ccc;
    padding:20px;
    margin:0 auto;
    width:420px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 5px 5px 5px #ccc;
    -webkit-box-shadow: 5px 5px 5px #ccc;
    box-shadow: 0 0 10px #999;
    color:#666666;
    position:relative;
}

.loginBox table{
    margin-top:5px;
}
.loginBox label{
    display:inline-block;
    line-height:20px;
}
.loginBox input.iptext{
    width:150px;
    border:1px solid #ccc;
    padding:3px;
    background:#fff;
    color:#333;
}
.loginBox input.iptext.error{
    border-color:#c00
}
/*.loginBox input{
        font-size:11px;
        font-family:Tahoma;
        padding:4px;
        border:1px solid #ccc;
        width:153px;
        color:#666666;
        background:#f9f9f9
}
.loginBox input:focus{
        outline:1px solid #999;
        border:0;
        padding:5px;
}*/
.loginBox .msg{
    color:#000;
    border:1px solid #c00;
    padding:5px;
    background:#fff6f6;
    margin-bottom:10px;
}
.submenuBox{
    /*border:1px solid #ccc;
    padding:5px 10px;*/
    margin-bottom:5px;
}
.note{
    /*font-size:11px;*/
    color:#555;
}
#hotKey{
    position:fixed;
    left:0;
    bottom:0;
    right:0;
    background:rgba(0,0,0,0.8);
    color:#fff;
    padding:10px 20px;
}
.flash-success{
    background:#d9e5ff url(../images/success-msg.png) no-repeat 5px 0;
    border:1px solid #6f85b4;
    min-height:18px;
    line-height:18px;
    padding:10px;
    padding-left:40px
}
.flash-error{
    background:#FFE6E6 url(../images/error-msg.png) no-repeat 5px 0;
    border:1px solid #c00;
    min-height:18px;
    line-height:18px;
    padding:10px;
    padding-left:40px
}
.errorMessage{
    color:#c00;
    padding-top:3px;
    font-size: 11px;
    font-family: Tahoma;
}
.errorSummary{
    border:1px solid #c00;
    background:#ffe6e6;
    padding:10px;
}
.errorSummary p{
    font-weight:bold;
    margin:0;
    padding:0
}
.errorSummary ul{
    margin:0;
    padding:5px 0 0 10px;
    list-style-position:inside
}
img.ui-datepicker-trigger{
    cursor:pointer;
    position:relative;
    top:3px;
    left:3px;
}
#ui-datepicker-div{
    display:none;
}

.uibtn{
    visibility: visible;
    padding: 4px 12px;
    background: #3B5998;
    border: 0;
    color: #fff;
    margin: 0;
}
.ps{
    color:#777;
}
.m.ps{
    margin-top:3px;
}
.checkbox-column input[type="checkbox"]{
    margin-top:3px;
}
.alertBox{
    text-align: center;
    padding: 20px !important;
}
.page_breadcrumb ul{
    margin: 0;
    padding: 0;
    line-height: 16px;
    font-size: 12px;
    font-weight: normal;
    line-height: 25px;
}
.page_breadcrumb ul li{
    display: inline-block;
    color: #999;
}
.page_breadcrumb ul li.separator{
    padding: 0 5px;
}
#table_education .hover .education_function{
    display: none;
}
#table_education .hover:hover .education_function{
    display: inline-block;
}
#table_education .hover:hover > .td_status  > .delete_function{
    background: url("../images/icons/recycle_hover.png") no-repeat;
}
.td_status .edit_function{
    background: url("../images/icons/edit-icon.png") no-repeat;
}
#table_education .hover:hover > .td_status  > .edit_function{
    background: url("../images/icons/edit-icon-hover.png") no-repeat;
}
.td_status .renew_function{
    background: url("../images/icons/icon-renew.png") no-repeat;
}
#table_education .hover:hover > .td_status  > .renew_function{
    background: url("../images/icons/icon-renew-hover.png") no-repeat;
}
#table_education .hover .td_status{
    text-align: right;
    padding-right: 40px;
}

#table_education .hover .td_status2{
    text-align: center;
}
#table_education .hover:hover .td_status2{
    text-align: center;
}
#table_education{
    width: 100%;
    text-align: center;
    font-size:13px;
    margin-top: 18px
}
#table_education .first th{
    background: #aaabaf;
    color:white;
    padding: 5px 20px;    
}
#table_education .hover td{
    padding: 4px 4px;
}
#table_education .chan td{
    background: #e6e7e9;
}
#table_education .hover:hover >td{
    background: #f58220;
    color: #fff;
    padding: 4px 4px;
}
#table_education .hover:hover >td img.custom_background{
    background: #FFF;
}
#table_education .two-row:hover >td{
    padding: 4px 4px 3px 4px !important;
}

#table_education .hover:hover >td a{
    color:white;
}


#table_education h3.title_mobile {
    display: none;
}

.row .form-group {
    width: 50%;
    float: left;
    padding: 0 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    max-width: 100%;
    font-weight: 700;
    font-size: 13px;
}
.form-control {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 6px 12px;
    line-height: 1.42857;
    width: 100%;
    color: #444;
    display: block;
    font-size: 14px;
    height: 34px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.delete_function,.edit_function,.renew_function{
    display: inline-block;
    width: 16px;
    height: 14px;
}
.td_status .delete_function{
    background: url("../images/icons/recycle.png") no-repeat;
}

.td_status .email_function{
    background: url("../images/icons/email.png") no-repeat;
    display: inline-block;
    width: 24px;
    height: 16px;
}
.excel{
    display: block;
    height: 16px;
    width: 16px;
    background:url(../images/download.png) no-repeat center 50%;
}