.swfupload{
	left:0
}
.uploadify {
	position: relative;
	margin-bottom: 1em;
	float:left;
	padding-top:5px;
}
.uploadify-button{
	float:left;
	color:#333;
    border:1px solid #D2D2D0;
    background-color: #F8F6ED;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FDFDFB), to(#F8F6ED));
	background-image: -webkit-linear-gradient(top, #FDFDFB, #F8F6ED);
	background-image:    -moz-linear-gradient(top, #FDFDFB, #F8F6ED);
	background-image:     -ms-linear-gradient(top, #FDFDFB, #F8F6ED);
	background-image:      -o-linear-gradient(top, #FDFDFB, #F8F6ED);
	background-image:         linear-gradient(to bottom, #FDFDFB, #F8F6ED);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FDFDFB, endColorStr=#F8F6ED);
	
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/*border: 1px solid #808080;*/
	font: bold 12px Arial, Helvetica, sans-serif;
	text-align: center;
	width: 100%;
}
.uploadify:hover .uploadify-button {
	border:1px solid #970402;
	background-color: #AF2624;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ce2b28), to(#af2624));
	background-image: -webkit-linear-gradient(top, #ce2b28, #af2624);
	background-image:    -moz-linear-gradient(top, #ce2b28, #af2624);
	background-image:     -ms-linear-gradient(top, #ce2b28, #af2624);
	background-image:      -o-linear-gradient(top, #ce2b28, #af2624);
	background-image:         linear-gradient(to bottom, #ce2b28, #af2624);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ce2b28, endColorStr=#af2624);
	background-position: center bottom;
	color:#fff
}
.uploadify-button.disabled {
	background-color: #D0D0D0;
	color: #808080;
}
.uploadify-queue {
	margin-bottom: 1em;
	overflow:hidden
}
.uploadify-queue-item {
	background-color: #f1f3e9;
	border:1px solid #c4c4c4;
	font: 11px Verdana, Geneva, sans-serif;
	margin-top: 5px;
	width:350px;
	margin-left:10px;
	padding: 10px;
	float:left;
}
.uploadify-error {
	background-color: #FDE5DD !important;
}
.uploadify-queue-item .cancel a {
	background: url('uploadify-cancel.png') 0 0 no-repeat;
	float: right;
	height:	16px;
	text-indent: -9999px;
	width: 16px;
}
.uploadify-queue-item.completed {
	background-color: #E5E5E5;
}
.uploadify-progress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
.uploadify-progress-bar {
	background-color: #CE2B28;
	height: 8px;
	width: 1px;
}